<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-statistic-heading" jhiTranslate="taskUniteApp.statistic.home.createOrEditLabel">Create or edit a Statistic</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskUniteApp.statistic.level" for="field_level">Level</label>
                    <input type="number" class="form-control" name="level" id="field_level"
                           formControlName="level"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskUniteApp.statistic.experience" for="field_experience">Experience</label>
                    <input type="number" class="form-control" name="experience" id="field_experience"
                           formControlName="experience"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskUniteApp.statistic.completedTask" for="field_completedTask">Completed Task</label>
                    <input type="number" class="form-control" name="completedTask" id="field_completedTask"
                           formControlName="completedTask"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskUniteApp.statistic.incompletedTask" for="field_incompletedTask">Incompleted Task</label>
                    <input type="number" class="form-control" name="incompletedTask" id="field_incompletedTask"
                           formControlName="incompletedTask"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskUniteApp.statistic.rating" for="field_rating">Rating</label>
                    <input type="number" class="form-control" name="rating" id="field_rating"
                           formControlName="rating"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskUniteApp.statistic.ranking" for="field_ranking">Ranking</label>
                    <input type="number" class="form-control" name="ranking" id="field_ranking"
                           formControlName="ranking"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskUniteApp.statistic.bonus" for="field_bonus">Bonus</label>
                    <input type="number" class="form-control" name="bonus" id="field_bonus"
                           formControlName="bonus"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskUniteApp.statistic.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" formControlName="createdAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskUniteApp.statistic.updatedAt" for="field_updatedAt">Updated At</label>
                    <div class="d-flex">
                        <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" formControlName="updatedAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskUniteApp.statistic.deletedAt" for="field_deletedAt">Deleted At</label>
                    <div class="d-flex">
                        <input id="field_deletedAt" type="datetime-local" class="form-control" name="deletedAt" formControlName="deletedAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taskUniteApp.statistic.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userInformationOption.id" *ngFor="let userInformationOption of users; trackBy: trackUserInformationById">{{userInformationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
