<div>
    <h2 id="page-heading">
        <span jhiTranslate="taskUniteApp.adminProfit.home.title">Admin Profits</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-admin-profit" [routerLink]="['/admin-profit/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="taskUniteApp.adminProfit.home.createLabel">
            Create a new Admin Profit
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="adminProfits?.length === 0">
        <span jhiTranslate="taskUniteApp.adminProfit.home.notFound">No adminProfits found</span>
    </div>
    <div class="table-responsive" *ngIf="adminProfits?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="taskerProfit"><span jhiTranslate="taskUniteApp.adminProfit.taskerProfit">Tasker Profit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="masterProfit"><span jhiTranslate="taskUniteApp.adminProfit.masterProfit">Master Profit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="totalProfit"><span jhiTranslate="taskUniteApp.adminProfit.totalProfit">Total Profit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="taskUniteApp.adminProfit.createdAt">Created At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updatedAt"><span jhiTranslate="taskUniteApp.adminProfit.updatedAt">Updated At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="deletedAt"><span jhiTranslate="taskUniteApp.adminProfit.deletedAt">Deleted At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="taskId"><span jhiTranslate="taskUniteApp.adminProfit.task">Task</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let adminProfit of adminProfits ;trackBy: trackId">
                <td><a [routerLink]="['/admin-profit', adminProfit.id, 'view' ]">{{adminProfit.id}}</a></td>
                <td>{{adminProfit.taskerProfit}}</td>
                <td>{{adminProfit.masterProfit}}</td>
                <td>{{adminProfit.totalProfit}}</td>
                <td>{{adminProfit.createdAt | date:'medium'}}</td>
                <td>{{adminProfit.updatedAt | date:'medium'}}</td>
                <td>{{adminProfit.deletedAt | date:'medium'}}</td>
                <td>
                    <div *ngIf="adminProfit.taskId">
                        <a [routerLink]="['/task', adminProfit.taskId , 'view' ]" >{{adminProfit.taskId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/admin-profit', adminProfit.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/admin-profit', adminProfit.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(adminProfit)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="adminProfits?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
