<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang cá nhân</title>
    <th:block th:replace="fragment/layout :: head"></th:block>
    <style>
        .panel,
        .panel--with-overflow {
            background: white;
            border: 1px solid #dce0e6;
            border-radius: 4px;
            padding: 1rem 1.5rem;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            overflow: hidden;
            position: relative;
            margin: 5px;
            color: #505050;
        }
    </style>
</head>
<body>

<div class="site-wrap">

    <th:block th:replace="fragment/layout :: site-mobile-memu"></th:block>


    <th:block th:replace="fragment/layout :: site-navbar"></th:block>

    <div style="height: 113px;"></div>

    <div class="unit-5 overlay" style="background-image: url('/images/hero_1.jpg');">
        <div class="container text-center">
            <h2 class="mb-0">Profile</h2>
            <p class="mb-0 unit-6"><a th:href="@{/}">Home</a> <span class="sep">></span> <span>Profile</span></p>
        </div>
    </div>

    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4 mb-3">
                    <div class="panel panel--spaced panel--with-overflow" style="margin: 0;">
                        <div class="row" style="height: 150px;">
                            <div class="col-12 text-center">
                                <img src="/images/person_1.jpg" style="height: 150px; width: 150px" alt=""
                                     class="confirm-avatar-tasker">
                            </div>
                        </div>
                        <div style="height: 1px;background: #dadada" class="my-3"></div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <h2 th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></h2>
                            </div>
                        </div>
                        <div style="height: 1px;background: #dadada" class="my-3"></div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <strong>MASTER</strong>
                            </div>
                        </div>
                        <div style="height: 1px;background: #dadada" class="my-3"></div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                     aria-orientation="vertical">
                                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill"
                                       href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                                       aria-selected="true">Thông tin</a>
                                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill"
                                       href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                                       aria-selected="false">Thống kê</a>
                                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill"
                                       href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                                       aria-selected="false">Chương trình liên kết</a>
                                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill"
                                       href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                                       aria-selected="false">Cài đặt</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-8 mb-3">
                    <div class="col-md-12 block-16" data-aos="fade-up" data-aos-delay="200">
                        <div class="nonloop-block-profile owl-carousel">

                            <div class="border rounded p-4 bg-white">
                                <label class="font-weight-bold">Tài khoản</label>
                                <h3 class="mb-5">VND <span th:text="${payment.getBalance().intValue()}"></span> </h3>
                                <div>
                                    <button class="btn btn-primary py-2 px-5">Nạp</button>
                                    <button class="btn btn-primary py-2 px-5">Rút</button>
                                </div>
                            </div>

                            <div class="border rounded p-4 bg-white">
                                <label class="font-weight-bold">Đánh giá & Phân loại</label>
                                <span class="border border-warning rounded p-1 px-2 text-warning">Beta</span>
                                <p>
                                    <span class="d-block"><span
                                        class="icon-money mr-1"></span> <span
                                        class="icon-star mr-1"></span></span>
                                </p>
                                <p class="mb-0">Bạn đang làm rất tốt!</p>
                            </div>

                            <div class="border rounded p-4 bg-white">
                                <label class="font-weight-bold">Tiến độ</label>
                                <h3 class="mb-5">LVL <span th:text="${statistic.getLevel()}"></span></h3>
                                <div class="progress">
                                    <div class="progress-bar" style="width:0%"></div>
                                </div>
                                <p class="mb-3">Còn <span th:text="${100 - statistic.getExperience()}"></span> tới cấp tiếp theo</p>
                                <label class="font-weight-bold">Quyền lợi</label>&nbsp;&nbsp;<small>Cấp càng cao, bạn
                                càng tiết kiệm chi phí!</small>
                                <p class="mb-0">Hiện bạn được giảm <strong><span th:text="${statistic.getLevel() - 1}"></span>%</strong> phí. Cảm ơn rất nhiều!</p>
                                <p class="mb-0">Bạn thuộc hàng chờ ưu tiên <strong>cao</strong></p>
                            </div>

<!--                            <div class="border rounded p-4 bg-white">-->
<!--                                <h2 class="h5">Telecommunication Manager</h2>-->
<!--                                <p><span class="border border-warning rounded p-1 px-2 text-warning">Freelance</span>-->
<!--                                </p>-->
<!--                                <p>-->
<!--                                    <span class="d-block"><span class="icon-suitcase"></span> Resto Bar</span>-->
<!--                                    <span class="d-block"><span class="icon-room"></span> Florida</span>-->
<!--                                    <span class="d-block"><span-->
<!--                                        class="icon-money mr-1"></span> $55000 &mdash; 70000</span>-->
<!--                                </p>-->
<!--                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at-->
<!--                                    ipsum commodi hic, cum esse asperiores libero molestiae, perferendis consectetur-->
<!--                                    assumenda iusto, dolorem nemo maiores magnam illo laborum sit, dicta.</p>-->
<!--                            </div>-->

                        </div>

                    </div>
                    <div class=" col-md-12 panel panel--spaced panel--with-overflow tab-content"
                         id="v-pills-tabContent">
                        <div class="tab-pane fade show active row" id="v-pills-home" role="tabpanel"
                             aria-labelledby="v-pills-home-tab">
                            <div class="col-md-12">
                                <label class="font-weight-bold" for="fname">Họ: </label>
                                <span id="fname" th:text="${user.getLastName()}"></span>
                            </div>
                            <div class="col-md-12">
                                <label class="font-weight-bold" for="lname">Tên: </label>
                                <span id="lname" th:text="${user.getFirstName()}"></span>
                            </div>
                            <div class="col-md-12">
                                <label class="font-weight-bold" for="gender">Giới tính: </label>
                                <span id="gender" th:text="${userInformation.getGender() == 1 ? 'Nam' : 'Nữ'}"></span>
                            </div>
                            <div class="col-md-12">
                                <label class="font-weight-bold" for="email">Email: </label>
                                <span id="email" th:text="${user.getEmail()}"></span>
                            </div>
                            <div class="col-md-12">
                                <label class="font-weight-bold" for="phone">Điện thoại: </label>
                                <span id="phone" th:text="${userInformation.getPhone()}"></span>
                            </div>
                            <div class="col-md-12">
                                <label class="font-weight-bold" for="address">Địa chỉ: </label>
                                <span id="address" th:text="${userInformation.getAddress()}"></span>
                            </div>
                        </div>
                        <div class="tab-pane fade row" id="v-pills-profile" role="tabpanel"
                             aria-labelledby="v-pills-profile-tab">
                            <div class="col-md-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>

                            </div>
                                <p class="mb-3">Đã hoàn thành: <strong><span th:text="${statistic.getCompletedTask()}"></span>/100</strong> công việc trong tháng</p>

                            </div>
                            <div class="col-md-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>

                            </div>
                            <p class="mb-3">Chưa hoàn thành: <strong><span th:text="${statistic.getIncompletedTask()}"></span></strong> công việc trong tháng</p>
                            </div>
                            <div class="col-md-12">
                                <label class="font-weight-bold" for="exp">EXP nhận được: </label>
                                <span id="exp" th:text="${statistic.getExperience()}"></span> EXP
                            </div>
                        </div>
                        <div class="tab-pane fade  row" id="v-pills-messages" role="tabpanel"
                             aria-labelledby="v-pills-messages-tab">
                            <div class="col-md-12">
                                <p class="mb-3">Chương trình đang được phát triển thêm. Cảm ơn <3</p>
                            </div>
                        </div>
                        <div class="tab-pane fade row" id="v-pills-settings" role="tabpanel"
                             aria-labelledby="v-pills-settings-tab">
                            <div class="col-md-12">
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Thông báo
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body row">
                                                <div class="col-md-6">
                                                    <label class="font-weight-bold" for="notifyEmail">Thông báo qua email</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="checkbox" class="check-box" id="notifyEmail" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                    Thông báo
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-body row">
                                                <div class="col-md-6">
                                                    <label class="font-weight-bold" for="notifyEmail">Ngôn ngữ</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <select class="select" id="lang">
                                                        <option value="vi">Việt Nam</option>
                                                        <option value="en">English</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="fragment/layout :: footer"></th:block>
</div>

<th:block th:replace="fragment/layout :: javascript"></th:block>

<script th:src="@{~/js/profile/profile.js}"></script>
</body>
</html>
