<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{home.title}">Tìm công việc, uy tín, nhanh với TaskUnite</title>
    <th:block th:replace="fragment/layout :: head"></th:block>
</head>
<body>

<div class="site-wrap">

    <th:block th:replace="fragment/layout :: site-mobile-memu"></th:block>


    <th:block th:replace="fragment/layout :: site-navbar"></th:block>

    <div style="height: 113px;"></div>

    <div class="unit-5 overlay" style="background-image: url('/images/hero_1.jpg');">
        <div class="container text-center">
            <h2 class="mb-0">Profile</h2>
            <p class="mb-0 unit-6"><a th:href="@{/}">Home</a> <span class="sep">></span> <span>Profile</span></p>
        </div>
    </div>

    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-5">
                    <div class="panel panel--spaced panel--with-overflow">
                        <div class="row" style="height: 150px;">
                            <div class="col-12 text-center">
                                <img src="/images/person_1.jpg" style="height: 150px; width: 150px" alt=""
                                     class="confirm-avatar-tasker">
                            </div>
                        </div>
                        <div style="height: 1px;background: #dadada" class="my-3"></div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <h2>Đặng Anh</h2>
                            </div>
                        </div>
                        <div style="height: 1px;background: #dadada" class="my-3"></div>
                        <div class="row">
                            <div class="col-12">
                                <span class="icon-done"></span>
                                <span>Bạn đã đồng ý với điều khoản của chúng tôi</span>
                            </div>
                        </div>
                        <div style="height: 1px;background: #dadada" class="my-3"></div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                     aria-orientation="vertical">
                                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill"
                                       href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                                       aria-selected="true">Home</a>
                                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill"
                                       href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                                       aria-selected="false">Profile</a>
                                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill"
                                       href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                                       aria-selected="false">Messages</a>
                                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill"
                                       href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                                       aria-selected="false">Settings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-7">
                    <div class="panel panel--spaced panel--with-overflow tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                             aria-labelledby="v-pills-home-tab">...
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                             aria-labelledby="v-pills-profile-tab">.fff
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                             aria-labelledby="v-pills-messages-tab">.nae
                        </div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                             aria-labelledby="v-pills-settings-tab">lulu
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="fragment/layout :: footer"></th:block>
</div>

<th:block th:replace="fragment/layout :: javascript"></th:block>

</body>
</html>
