<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span jhiTranslate="taskuniteApp.address.detail.title">Address</span> {{address.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="taskuniteApp.address.street">Street</span></dt>
                <dd>
                    <span>{{address.street}}</span>
                </dd>
                <dt><span jhiTranslate="taskuniteApp.address.status">Status</span></dt>
                <dd>
                    <span>{{address.status}}</span>
                </dd>
                <dt><span jhiTranslate="taskuniteApp.address.createdAt">Created At</span></dt>
                <dd>
                    <span>{{address.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="taskuniteApp.address.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{address.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="taskuniteApp.address.deletedAt">Deleted At</span></dt>
                <dd>
                    <span>{{address.deletedAt}}</span>
                </dd>
                <dt><span jhiTranslate="taskuniteApp.address.user">User</span></dt>
                <dd>
                    {{address.userId}}
                </dd>
                <dt><span jhiTranslate="taskuniteApp.address.dictrict">Dictrict</span></dt>
                <dd>
                    <div *ngIf="address.dictrictId">
                        <a [routerLink]="['/district', address.dictrictId, 'view']">{{address.dictrictId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="taskuniteApp.address.tasker">Tasker</span></dt>
                <dd>
                    <div *ngIf="address.taskerId">
                        <a [routerLink]="['/tasker', address.taskerId, 'view']">{{address.taskerId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address', address.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
