<div>
    <h2 id="page-heading">
        <span jhiTranslate="taskUniteApp.adminTransaction.home.title">Admin Transactions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-admin-transaction" [routerLink]="['/admin-transaction/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="taskUniteApp.adminTransaction.home.createLabel">
            Create a new Admin Transaction
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="adminTransactions?.length === 0">
        <span jhiTranslate="taskUniteApp.adminTransaction.home.notFound">No adminTransactions found</span>
    </div>
    <div class="table-responsive" *ngIf="adminTransactions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="amount"><span jhiTranslate="taskUniteApp.adminTransaction.amount">Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="type"><span jhiTranslate="taskUniteApp.adminTransaction.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="status"><span jhiTranslate="taskUniteApp.adminTransaction.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="taskUniteApp.adminTransaction.createdAt">Created At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updatedAt"><span jhiTranslate="taskUniteApp.adminTransaction.updatedAt">Updated At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="deletedAt"><span jhiTranslate="taskUniteApp.adminTransaction.deletedAt">Deleted At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="paymentId"><span jhiTranslate="taskUniteApp.adminTransaction.payment">Payment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let adminTransaction of adminTransactions ;trackBy: trackId">
                <td><a [routerLink]="['/admin-transaction', adminTransaction.id, 'view' ]">{{adminTransaction.id}}</a></td>
                <td>{{adminTransaction.amount}}</td>
                <td>{{adminTransaction.type}}</td>
                <td>{{adminTransaction.status}}</td>
                <td>{{adminTransaction.createdAt | date:'medium'}}</td>
                <td>{{adminTransaction.updatedAt | date:'medium'}}</td>
                <td>{{adminTransaction.deletedAt | date:'medium'}}</td>
                <td>
                    <div *ngIf="adminTransaction.paymentId">
                        <a [routerLink]="['/payment-information', adminTransaction.paymentId , 'view' ]" >{{adminTransaction.paymentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/admin-transaction', adminTransaction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/admin-transaction', adminTransaction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(adminTransaction)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="adminTransactions?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
