<div>
    <h2 id="page-heading">
        <span jhiTranslate="taskUniteApp.plan.home.title">Plans</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-plan" [routerLink]="['/plan/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="taskUniteApp.plan.home.createLabel">
            Create a new Plan
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="plans?.length === 0">
        <span jhiTranslate="taskUniteApp.plan.home.notFound">No plans found</span>
    </div>
    <div class="table-responsive" *ngIf="plans?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="from"><span jhiTranslate="taskUniteApp.plan.from">From</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="to"><span jhiTranslate="taskUniteApp.plan.to">To</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="duration"><span jhiTranslate="taskUniteApp.plan.duration">Duration</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="taskId"><span jhiTranslate="taskUniteApp.plan.task">Task</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let plan of plans ;trackBy: trackId">
                <td><a [routerLink]="['/plan', plan.id, 'view' ]">{{plan.id}}</a></td>
                <td>{{plan.from | date:'mediumDate'}}</td>
                <td>{{plan.to | date:'mediumDate'}}</td>
                <td>{{plan.duration}}</td>
                <td>
                    <div *ngIf="plan.taskId">
                        <a [routerLink]="['/task', plan.taskId , 'view' ]" >{{plan.taskId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/plan', plan.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/plan', plan.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(plan)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="plans?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
