<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng ký trở thành nhân viên TaskUnite</title>
    <th:block th:include="fragment/layout :: head"></th:block>
</head>
<body>

<div class="site-wrap">

    <th:block th:include="fragment/layout :: site-mobile-memu"></th:block>

    <th:block th:include="fragment/layout :: site-navbar"></th:block>

    <div style="height: 113px;"></div>

    <div class="unit-5 overlay" th:style="'background-image: url(' + @{/images/hero_1.jpg} + ');'"
         style="background-image: url('images/hero_1.jpg');">
        <div class="container text-center">
            <h2 class="mb-0">Trở thành nhân viên</h2>
            <p class="mb-0 unit-6"><a th:href="@{/}">Trang chủ</a> <span class="sep">></span>
                <span>Trở thành nhân viên (Bước 1)</span>
            </p>
        </div>
    </div>

    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12 b-5">
                    <form method="post" th:action="@{/tasker/step1}" th:object="${tasker}" class="p-5 bg-white">
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="avatar"
                                       th:text="#{register-task.upload-avatar}"></label>
                                <p>
                                <input th:field="*{image}" type="file" id="avatar" placeholder="Avatar">
                                </p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="city" th:text="#{register-task.what-work}"></label>
                                <select class="custom-select  mb-3" th:field="*{city}" id="city">
                                    <option selected>Thành phố</option>
                                    <option th:each="city: ${cities}" th:value="${city.getId()}" th:text="${city.getName()}"></option>
                                </select>
                                <select class="custom-select mb-3" id="district" th:field="*{district}">
                                    <option selected>Quận</option>
                                    <option th:each="district: ${districts}" th:value="${district.getId()}" th:text="${district.getName()}"></option>
                                </select>
                                <input type="text" th:field="*{address}" class="form-control"
                                                  placeholder="Địa chỉ"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold">Vì sao bạn muốn trở thành 1 Tasker ?</label>
                                <textarea rows="3" th:field="*{description}" class="form-control"
                                       placeholder="Mô tả về bạn">
                                </textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold">Ngày/tháng/năm sinh</label>
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <input type="text" th:field="*{bday}" id="bday" class="form-control"
                                               placeholder="Ngày">
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <input type="text" th:field="*{bmonth}" id="bmonth" class="form-control"
                                               placeholder="Tháng">
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <input type="text" th:field="*{byear}" id="byear" class="form-control"
                                               placeholder="Năm">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="mb-3">Từ bước này, bạn sẽ trở thành Tasker và không thể quay lại thành Master, vì vậy hãy cân nhắc thật kỹ!</p>
                        <div class="row form-group">
                            <div class="col-md-12 text-center">
                                <input type="submit" value="Tôi đồng ý" class="btn btn-primary  py-2 px-5">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="fragment/layout :: footer"></th:block>
</div>
<th:block th:include="fragment/layout :: javascript"></th:block>
</body>
</html>
