<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng ký nhân viên - Bước 2</title>
    <th:block th:include="fragment/layout :: head"></th:block>
    <style>
        .addSignature2 img {
            max-width: 100%;
            object-fit: cover;
        }
    </style>
</head>
<body>

<div class="site-wrap">

    <th:block th:include="fragment/layout :: site-mobile-memu"></th:block>

    <th:block th:include="fragment/layout :: site-navbar"></th:block>

    <div style="height: 113px;"></div>

    <div class="unit-5 overlay" th:style="'background-image: url(' + @{~/images/hero_1.jpg} + ');'"
         style="background-image: url('images/hero_1.jpg');">
        <div class="container text-center">
            <h2 class="mb-0">Trở thành nhân viên</h2>
            <p class="mb-0 unit-6"><a th:href="@{/}">Trang chủ</a> <span class="sep">></span>
                <span>Trở thành nhân viên</span>
            </p>
        </div>
    </div>

    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card addSkill">
                        <div class="card-body">
                            <span class="font-weight-bold">Chọn danh mục nhiệm vụ của bạn và đặt mức giá hàng giờ của bạn. Bạn có thể
                                            thêm hoặc xóa các danh mục khỏi hồ sơ của bạn hoặc sửa đổi giá của bạn bất
                                            cứ lúc nào. Bạn phải chọn một danh mục để tiếp tục.</span>

                            <div class="my-3" th:each="category: ${categories}">
                                <span class="font-weight-bold"
                                      th:text="${category.getName()}">
                                </span>
                                <small style="color: dodgerblue"><i class="icon-star"></i> Kỹ năng phổ
                                    biến
                                </small>

                                    <form th:id="@{'form' + ${category.getId()}}" class="card card-body mt-3">
                                        <input type="hidden" name="categoryId" th:value="${category.getId()}"/>
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                        <label class="font-weight-bold">Mô tả</label>
                                        <div>
                                            <p th:text="${category.getDescription()}"></p>
                                            <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input"
                                                       th:id="@{'collapse' + ${category.getId()}}" data-toggle="collapse"
                                                       th:href="@{'#check' + ${category.getId()}}"
                                                       role="button" aria-expanded="false"
                                                       name="confirm" value="1"
                                                />
                                                <label class="form-check-label font-weight-bold" th:for="@{'#collapse' + ${category.getId()}}"
                                                       th:text="#{register-task.clean-scope-8}"></label>
                                            </div>
                                            <div class="collapse" th:id="@{'check' + ${category.getId()}}">
                                                <label class="font-weight-bold">Giá đề bạt</label>
                                                <span>Thường công việc thu về <span th:text="${#numbers.formatDecimal(category.getMinPrice().intValue(), 0, 'COMMA', 0, 'POINT')}"></span> VND/giờ</span>
                                                <div class="form-inline">
                                                    <div class="form-group mb-2">
                                                        <b>VND&nbsp;</b>
                                                        <input type="text" name="price" class="form-control" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="mt-3">
                                                    <label class="font-weight-bold">Dụng cụ ?</label>
                                                    <span>Nếu bạn có thể chuẩn bị dụng cụ sẵn, cơ hội được chọn của bạn có thể cao hơn</span>
                                                    <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input"
                                                           id="haveTool" name="haveTool" value="1" />
                                                    <label class="form-check-label font-weight-bold" for="haveTool">Tôi có!</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-weight-bold">Mô tả</label>
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="description" placeholder="Thuyết phục mọi người rằng tôi là ứng viên phù hợp"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <input type="reset" class="btn btn-secondary"
                                                           th:id="@{'collapse' + ${category.getId()}}" data-toggle="collapse"
                                                           th:href="@{'#check' + ${category.getId()}}"
                                                           role="button" aria-expanded="false"
                                                           value="Hủy">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                            </div>

                            <button class="btn btn-success" id="btnContinue">
                                Tiếp Tục
                            </button>
                        </div>
                    </div>
                    <div class="card addSignature" style="display: none">
                        <div class="card-body">
                            <label class="font-weight-bold">Điều khoản dịch vụ</label>
                            <p>TaskUnite có thể có được thông tin về bạn từ một cơ quan báo cáo
                                người tiêu dùng bên thứ ba liên quan đến sự tham gia tiềm năng của bạn với tư
                                cách là Nhà thầu độc lập. Do đó, bạn có thể là đối tượng của một báo cáo người
                                tiêu dùng, có thể bao gồm thông tin về tính cách, danh tiếng chung, đặc điểm cá
                                nhân và / hoặc chế độ sinh hoạt của bạn. Các báo cáo này có thể chứa thông tin
                                liên quan đến lịch sử tội phạm của bạn, xác minh an sinh xã hội, hồ sơ xe cơ
                                giới (hồ sơ lái xe của Cameron), xác minh lịch sử giáo dục hoặc việc làm của bạn
                                hoặc kiểm tra lý lịch khác. Bạn có quyền, theo yêu cầu bằng văn bản được đưa ra
                                trong một thời gian hợp lý, để yêu cầu xem một báo cáo người tiêu dùng đã được
                                chạy về bạn hay chưa và yêu cầu một bản sao báo cáo của bạn.
                            </p>

                            <button class="btn btn-success" id="signature1">
                                Tiếp Tục
                            </button>
                        </div>
                    </div>
                    <div class="card addSignature2" style="display: none">
                        <div class="card-body">
                            <label class="font-weight-bold">Điều luật TaskUnite</label>
                            <p><img th:src="@{~/images/fbi.png}" width="100" alt="fbi" /></p>
                            <p>FBI WARNING</p>
                            <p>DMCA 2019</p>
                            <input id="csrfuck" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <a th:href="@{/intro/tasker}" class="btn btn-success" id="completeTasker">
                                Hoàn thành!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="fragment/layout :: footer"></th:block>
</div>
<th:block th:include="fragment/layout :: javascript"></th:block>
<script th:src="@{~/js/account/tasker.js}"></script>
</body>
</html>
