<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!--Style sheet-->
    <th:block th:fragment="head">
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" th:href="@{~/images/favicon.png}">
        <link rel="stylesheet" th:href="@{~/fonts/icomoon/style.css}">
        <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{~/css/magnific-popup.css}">
        <link rel="stylesheet" th:href="@{~/css/jquery-ui.css}">
        <link rel="stylesheet" th:href="@{~/css/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{~/css/owl.theme.default.min.css}">
        <link rel="stylesheet" th:href="@{~/css/bootstrap-datepicker.css}">
        <link rel="stylesheet" th:href="@{~/css/animate.css}">
        <link rel="stylesheet" th:href="@{~/css/mediaelementplayer.min.css}">
        <link rel="stylesheet" th:href="@{~/fonts/flaticon/font/flaticon.css}">
        <link rel="stylesheet" th:href="@{~/css/aos.css}">
        <link rel="stylesheet" th:href="@{~/css/style.css}">
    </th:block>
</head>
<body>
<!--Site mobile menu-->
<th:block th:fragment="site-mobile-memu">
    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
</th:block>

<th:block th:fragment="site-navbar">
    <div class="site-navbar-wrap js-site-navbar bg-white">

        <div class="container">
            <div class="site-navbar bg-light">
                <div class="py-1">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <h2 class="mb-0 site-logo">
                                <a th:href="@{/}">
                                    <img th:src="@{~/images/logo.png}" th:alt="#{web.name}" th:height="50">
                                </a>
                            </h2>
                        </div>
                        <div class="col-10">
                            <nav class="site-navigation text-right" role="navigation">
                                <div class="container">
                                    <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3">
                                        <a href="#" class="site-menu-toggle js-menu-toggle text-black">
                                            <span class="icon-menu h3"></span>
                                        </a>
                                    </div>
                                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                                        <li class="has-children">
                                            <a th:href="@{/category}" th:text="#{home.category}"></a>
                                            <ul class="dropdown arrow-top">
                                                <li><a href="#">Category</a></li>
                                            </ul>
                                        </li>
                                        <!--<li class="has-children">-->
                                            <!--<a href="category.html" th:text="#{home.services}">Category</a>-->
                                            <!--<ul class="dropdown arrow-top">-->
                                                <!--<li><a href="#">Services</a></li>-->
                                                <!--<li class="has-children">-->
                                                    <!--<a href="#">More Links</a>-->
                                                    <!--<ul class="dropdown">-->
                                                        <!--<li><a href="#">Browse Candidates</a></li>-->
                                                        <!--<li><a href="#">Post a Job</a></li>-->
                                                        <!--<li><a href="#">Employeer Profile</a></li>-->
                                                    <!--</ul>-->
                                                <!--</li>-->
                                            <!--</ul>-->
                                        <!--</li>-->
                                        <li><a th:href="@{/contact}" th:text="#{home.contact}">Contact</a></li>
                                        <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}" th:text="#{home.sign-in}" >Sign in</a></li>
                                        <!--<li sec:authorize="!isAuthenticated()"><a th:href="@{/account/register}" th:text="#{home.register}" >Register</a></li>-->
                                        <li sec:authorize="!isAuthenticated()">
                                            <a th:href="@{/register}">
                                                <span class="bg-primary text-white py-3 px-4 rounded">
                                                    <span class="icon-plus mr-2" style="margin-top: -2px;"></span>
                                                    <th:block th:text="#{home.register}">Register </th:block>
                                                </span>
                                            </a>
                                        </li>
                                        <!--<li sec:authorize="isAuthenticated()">-->
                                            <!--<a th:href="@{/task/create/step1}">-->
                                                <!--<span class="bg-primary text-white py-3 px-4 rounded">-->
                                                    <!--<span class="icon-plus mr-2" style="margin-top: -2px;"></span>-->
                                                    <!--<th:block th:text="#{home.post-new-job}"> </th:block>-->
                                                <!--</span>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <li sec:authorize="isAuthenticated()">
                                            <a th:href="@{/profile}">
                                                <span class="bg-primary text-white py-3 px-4 rounded">
                                                    <span class="icon-user mr-2" style="margin-top: -2px;"></span>
                                                    <th:block th:text="#{home.profile}">Profile </th:block>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="footer">
    <div class="box-wave">
        <div class="wave"></div>
    </div>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="footer-heading mb-4 text-white">Về chúng tôi</h3>
                    <p>Task Unite giúp kết nối những người có yêu cầu việc và những người có nhu cầu làm việc một cách
                    nhanh chóng và đáng tin cậy.</p>
                    <p><a href="#" class="btn btn-primary pill text-white px-4">Read More</a></p>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="footer-heading mb-4 text-white">Thao tác nhanh</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">Đăng ký</a></li>
                                <li><a href="#">Đăng nhập</a></li>
                                <li><a href="#">Tạo Task</a></li>
                                <li><a href="#">Danh mục công việc</a></li>
                                <li><a href="#">Thông báo</a></li>
                                <li><a href="#">Tuyển dụng</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h3 class="footer-heading mb-4 text-white">Categories</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">Full Time</a></li>
                                <li><a href="#">Freelance</a></li>
                                <li><a href="#">Temporary</a></li>
                                <li><a href="#">Internship</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-12"><h3 class="footer-heading mb-4 text-white">Social Icons</h3></div>
                    <div class="col-md-12">
                        <p>
                            <a href="#" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
                            <a href="#" class="p-2"><span class="icon-twitter"></span></a>
                            <a href="#" class="p-2"><span class="icon-instagram"></span></a>
                            <a href="#" class="p-2"><span class="icon-vimeo"></span></a>

                        </p>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy; 2019
                        All Rights Reserved | This template is made with
                        <i class="icon-heart text-warning" ria-hidden="true"></i> by
                        <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                </div>

            </div>
        </div>
    </footer>
</th:block>

<!--Javascript-->
<th:block th:fragment="javascript">
    <script th:src="@{~/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{~/js/jquery-migrate-3.0.1.min.js}"></script>
    <script th:src="@{~/js/jquery-ui.js}"></script>
    <script th:src="@{~/js/popper.min.js}"></script>
    <script th:src="@{~/js/bootstrap.min.js}"></script>
    <script th:src="@{~/js/owl.carousel.min.js}"></script>
    <script th:src="@{~/js/jquery.stellar.min.js}"></script>
    <script th:src="@{~/js/jquery.countdown.min.js}"></script>
    <script th:src="@{~/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{~/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{~/js/moment.min.js}"></script>
    <script th:src="@{~/js/aos.js}"></script>
    <script th:src="@{~/js/main.js}"></script>
</th:block>
</body>
</html>
