<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Task</title>
    <th:block th:include="fragment/layout :: head"></th:block>
    <link rel="stylesheet" th:href="@{~/css/task/create.css}">
    <link rel="stylesheet" th:href="@{~/css/responsive/task/create.css}">
</head>
<body>

<div class="site-wrap">
    <th:block th:replace="fragment/layout :: site-mobile-memu"></th:block>
    <th:block th:replace="fragment/layout :: site-navbar"></th:block>
    <div style="height: 113px;"></div>

    <form th:action="@{/task/create/step4}" th:object="${taskInfo}" method="post">

        <div class="site-section bg-dark-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-5 p-2">
                        <div class="panel panel--spaced panel--with-overflow">
                            <div class="row">
                                <div class="col-lg-2 col-sm-3 col-3">
                                    <img th:src="@{~/images/person_1.jpg}" alt="" class="confirm-avatar-tasker">
                                </div>
                                <div class="col-lg-10 col-sm-9 col-9">
                                    <div class="task-name text-bold text-right mt-1" style="font-size: 18px">
                                        <span th:text="${taskInfo.getTaskCategory().getName()}"></span>
                                    </div>
                                    <div class="tasker-name mt-1 text-right">
                                        <span
                                            th:text="${taskInfo.getTasker().getUser().getLastName() + ' ' + taskInfo.getTasker().getUser().getFirstName()}"></span>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 1px;background: #dadada" class="my-3"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="icon-calendar-o mr-lg-3"></span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <span th:text="${taskInfo.getFrom().toString()}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="icon-room mr-lg-3"></span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <span th:text="${taskInfo.getAddress()}"></span>
                                </div>
                            </div>
                            <div style="height: 1px;background: #dadada" class="my-3"></div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 text-bold t-20">
                                    <span>Giá tiền</span>
                                </div>
                                <div class="col-lg-6 col-md-12 t-20 t-green text-right">
                                    <span
                                        th:text="${#numbers.formatDecimal(taskInfo.getPrice().intValue(), 0, 'COMMA', 0, 'POINT')}"></span>
                                </div>
                            </div>
                            <div class="my-3 t-14">
                                <span th:text="#{task-create.step4.notification-4-1}"></span>
                                <span class="t-green"><a href="#" th:text="#{task-create.step4.notification-4-2}"></a> </span>
                                <span th:text="#{task-create.step4.notification-4-3}"></span>
                            </div>
                            <div class="my-3 t-14" th:text="#{task-create.step4.notification-5}"></div>
                            <div class="my-3 t-14">
                                <a th:href="@{#}" class="t-green"><span
                                    th:text="#{task-create.step4.notification-6-1}"></span></a>
                                <span th:text="#{task-create.step4.notification-6-2}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7 p-2">
                        <div class="panel panel--spaced panel--with-overflow">
                            <div class="form-group">
                                <!--Thả description vào luôn;-->
                                <label class="font-weight-bold mb-3">
                                <span th:text="#{task-create.step4.review-task-description}"></span>
                                </label>
                                <textarea th:text="${taskInfo.description}" rows="5" name="description" id="description" class="form-control" style="width: 100%; height: 185px;"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="mb-3 text-bold">
                                    <span th:text="#{task-create.step4.phone-number}"></span>
                                </div>
                                <h3 class="mb-3" th:text="${taskInfo.getMaster().getPhone()}"></h3>
                            </div>
                            <div style="font-size: 13px;"
                                 th:text="#{task-create.step4.notification-3}"></div>
                            <div class="text-center my-3 col-lg-12">
                                <button type="submit" class="btn-reset-css btn-svg-UI fill-green mt-2">
                                    <svg>
                                        <rect></rect>
                                    </svg>
                                    <span>Xác nhận</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <th:block th:include="fragment/layout :: footer"></th:block>
</div>
<th:block th:include="fragment/layout :: javascript"></th:block>
<script th:src="@{/js/task/task-step.js}"></script>
</body>
</html>
