<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Task</title>
    <th:block th:include="fragment/layout :: head"> </th:block>
    <link rel="stylesheet" th:href="@{~/css/responsive/task/create.css}">
</head>
<body>

<div class="site-wrap">
    <div class="mt-4 mb-3">
        <div class="container-fluid">
            <div class="row border-bottom pb-3">
                <div class="col-md-1 box-logo-step col-xl-12">
                    <a th:href="@{/}">
                        <img alt="TaskUnite" class="logo-step" th:src="@{~/images/favicon.png}">
                    </a>
                </div>
                <div class="col-lg-9 col-md-12 offset-lg-2">
                    <div class="box-step ">
                        <div class="step active st1">
                            <div class="box-circle">
                                <div class="circle">1</div>
                            </div>
                            <div class="box-line">
                                <div class="line"></div>
                            </div>
                            <div class="name-step" th:text="#{task-create.step1.task-infor}"></div>
                        </div>
                        <div class="step st2">
                            <div class="box-circle">
                                <div class="circle">2</div>
                            </div>
                            <div class="box-line ">
                                <div class="line"></div>
                            </div>
                        <div class="name-step" th:text="#{task-create.step2.task-prices}"></div>
                        </div>
                        <div class="step st3">
                            <div class="box-circle">
                                <div class="circle">3</div>
                            </div>
                            <div class="box-line">
                                <div class="line"></div>
                            </div>
                            <div class="name-step" th:text="#{task-create.step3.choose-date-time}"></div>
                        </div>
                        <div class="step st4">
                            <div class="box-circle">
                                <div class="circle">4</div>
                            </div>
                            <div class="name-step" th:text="#{task-create.step4.confirm-details}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 p-0 mt-1">
                    <div class="build-progress__sub-bar">
                        <div class="build-progress__sub-bar__container">
                            <img alt="form" class="build-progress__sub-bar__icon" th:src="@{~/images/pen.svg}">
                            <div class="build-progress__sub-bar__message">
                                <span th:text="#{task-create.step1.task-notification}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 mb-5">
                    <form th:action="@{/task/create/step1}" th:object="${taskInfo}" id="form-task" method="post">
                        <div class="row form-group">
                            <div class="col-md-12 mb-lg-3 mb-md-0 mb-xl-1 task-box bg-white border" data-editing=true
                                 data-state="summary">
                                <span class="status-task-box">
                                    <i class="icon-done text-primary"></i>
                                    <!--                                    <i class="icon-pencil text-primary"></i>-->
                                </span>
                                <div class="form-group text-uppercase text-label d-flex">
                                    <div style="flex: 9" th:text="#{task-create.step1.task-address}"><span class="text-danger error-msg d-none"></span>
                                    </div>
                                    <select name="option-address" style="flex: 1">
                                        <option value="1" selected th:text="#{task-create.step1.task-address1}"></option>
                                        <option value="2" th:text="#{task-create.step1.task-address2}"></option>
                                    </select>
                                </div>
                                <div class="box-input">
                                    <div class="form-group box-input-address-single">
                                        <input type="text" class="form-control" id="address" th:field="*{address}"
                                               th:placeholder="#{task-create.step1.placeholder-address}">
                                    </div>
                                    <div class="box-input-address-multi d-none">
                                        <div class="form-group">
                                            <label th:text="#{task-create.step1.start-address}"></label>
                                            <input type="text" class="form-control" id="addressStart"
                                                   th:placeholder="#{task-create.step1.placeholder-start-address}">
                                        </div>
                                        <div class="form-group">
                                            <label th:text="#{task-create.step1.end-address}"></label>
                                            <input type="text" class="form-control" id="addressEnd"
                                                   th:placeholder="#{task-create.step1.placeholder-end-address}">
                                        </div>
                                    </div>
                                    <div class="mt-lg-5 form-group text-center">
                                        <button class="btn btn-success btn-continue px-4 " data-type="address"
                                                th:type="button" th:text="#{task-create.next-btn}"></button>
                                    </div>
                                </div>
                                <div class="form-group preview-content d-none">
                                    <i class="icon-room text-pink mr-1"></i> <span class="content"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 mb-lg-3 mb-md-0 mb-xl-1 task-box bg-white border" data-editing=false
                                 data-state="empty">
                                <span class="status-task-box">
                                    <i class="icon-done text-primary"></i>
                                </span>
                                <div class="form-group text-uppercase text-label" th:text="#{task-create.step1.work-name}"><span class="text-danger error-msg d-none"></span>
                                </div>
                                <div class="box-input">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="title-task" th:field="*{title}"
                                               th:placeholder="#{task-create.step1.placeholder-work-name}">
                                    </div>
                                    <div class="mt-lg-5 form-group text-center">
                                        <button class="btn btn-success btn-continue px-4" data-type="title"
                                                th:type="button" th:text="#{task-create.next-btn}">
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group preview-content d-none">
                                    <i class="icon-title text-purple mr-1"></i>
                                    <span class="content">

                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12 mb-lg-3 mb-md-0 mb-xl-1 task-box bg-white border" data-editing=false
                                 data-state="empty">
                                <span class="status-task-box">
                                    <i class="icon-done text-primary"></i>
                                </span>
                                <div class="form-group text-uppercase text-label" th:text="#{task-create.step1.work-categories}"><span
                                    class="text-danger error-msg d-none"></span></div>
                                <div class="box-input">
                                    <div class="form-group">
                                        <!--<div class="custom-control custom-checkbox custom-control-inline">-->
                                            <!--<input type="checkbox" class="custom-control-input" id="cateId1"-->
                                                   <!--th:value="#{task-create.step1.categories-housework}">-->
                                            <!--<label class="custom-control-label d-inline" for="cateId1" th:text="#{task-create.step1.categories-housework}"></label>-->
                                        <!--</div>-->
                                        <th:block th:each="category: ${taskCategories}">
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="radio" name="taskCategories" class="custom-control-input" th:id="'cateId-' + ${category.id}"
                                                       th:value="${category.id}" th:field="*{taskCategory}">
                                                <label class="custom-control-label d-inline" th:for="'cateId-' + ${category.id}" th:text="${category.name}"></label>
                                            </div>
                                        </th:block>

                                        <!--<div class="custom-control custom-checkbox custom-control-inline">-->
                                            <!--<input type="checkbox" class="custom-control-input" id="cateId3"-->
                                                   <!--value="Vận chuyển">-->
                                            <!--<label class="custom-control-label d-inline" for="cateId3">Vận-->
                                                <!--chuyển</label>-->
                                        <!--</div>-->
                                        <!--<div class="custom-control custom-checkbox custom-control-inline">-->
                                            <!--<input type="checkbox" class="custom-control-input" id="cateId4"-->
                                                   <!--value="Thợ mộc">-->
                                            <!--<label class="custom-control-label d-inline" for="cateId4">Vận-->
                                                <!--chuyển</label>-->
                                        <!--</div>-->
                                        <!--<div class="custom-control custom-checkbox custom-control-inline">-->
                                            <!--<input type="checkbox" class="custom-control-input" id="cateId5"-->
                                                   <!--value="Sửa chữa nội thất">-->
                                            <!--<label class="custom-control-label d-inline" for="cateId5">Sửa chữa nội-->
                                                <!--thất-->
                                            <!--</label>-->
                                        <!--</div>-->
                                    </div>
                                    <div class="mt-lg-5 form-group text-center">
                                        <button class="btn btn-success btn-continue px-4" data-type="category"
                                                th:type="button">Tiếp tục
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group preview-content d-none">
                                    <i class="icon-book text-orange mr-1"></i>
                                    <span class="content">

                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 mb-lg-3 mb-md-0 mb-xl-1 task-box bg-white border" data-editing=false
                                 data-state="empty">
                                <span class="status-task-box">
                                    <i class="icon-done text-primary"></i>
                                </span>
                                <div class="form-group text-uppercase text-label" th:text="#{task-create.step1.estimate-time}"><span
                                    class="text-danger error-msg d-none"></span></div>
                                <div class="box-input">
                                    <div class="form-group">
                                        <input type="number" th:field="*{estimatedTime}"  class="form-control w-25" id="estimated-time">
                                    </div>
                                    <div class="mt-lg-5 form-group text-center">
                                        <button class="btn btn-success btn-continue px-4" data-type="estimated-time"
                                                th:type="button" th:text="#{task-create.next-btn}">
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group preview-content d-none">
                                    <i class="icon-clock-o text-secondary mr-1"></i>
                                    <span class="content"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 mb-lg-3 mb-md-0 mb-xl-1 task-box bg-white border" data-editing=false
                                 data-state="empty">
                                <span class="status-task-box">
                                    <i class="icon-done text-primary"></i>
                                </span>
                                <div class="form-group text-uppercase text-label" th:text="#{task-create.step1.task-description}"><span
                                    class="text-danger error-msg d-none"></span></div>
                                <div class="box-input">
                                    <div class="form-group">
                                        <textarea th:field="*{description}" class="form-control" style="min-height: 150px"
                                                  name="description"
                                                  th:placeholder="#{task-create.step1.task-des-placehoder}"></textarea>
                                    </div>
                                    <div class="mt-lg-5 form-group text-center">
                                        <button class="btn btn-success btn-continue px-4" data-type="description"
                                                th:type="button" th:text="#{task-create.next-btn}">
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group preview-content d-none">
                                    <i class="icon-book text-purple mr-1"></i>
                                    <span class="content"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 text-right">
                                <!--<a href="javascript:void (0)" id="next-step2">-->
                                    <button type="submit" id="next-step2" class="btn btn-success py-2 px-5" disabled="disabled" th:text="#{task-create.next-btn}"></button>
                                <!--</a>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="fragment/layout :: footer"> </th:block>
</div>
<th:block th:include="fragment/layout :: javascript"> </th:block>
<script th:src="@{/js/task/task-step.js}"></script>
<script th:src="@{/js/task/task-step1.js}"></script>
</body>
</html>
