<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Task</title>
    <th:block th:include="fragment/layout :: head"></th:block>
    <link rel="stylesheet" th:href="@{~/css/task/create.css}">
    <link rel="stylesheet" th:href="@{~/css/responsive/task/create.css}">
</head>
<body>

<div class="site-wrap">
    <th:block th:replace="fragment/layout :: site-mobile-memu"></th:block>
    <th:block th:replace="fragment/layout :: site-navbar"></th:block>
    <div style="height: 113px;"></div>

    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <th:block th:each="tasker, iter: ${taskers}">
                        <div class="recommendations__result panel panel--spaced ">
                            <div class="recommendations__result-figure">
                                <div>
                                    <img class="recommendations__avatar__circular"
                                         th:src="${tasker.getImage()}"
                                         alt="Tasker">
                                </div>
                                <div class="recommendations__result-actions view-pc">
                                    <form th:action="@{/task/create/step2}" method="post">
                                        <input type="hidden" id="tasker" name="tasker" th:value="${tasker.id}">
                                        <input type="hidden" id="price" name="price" th:value="${prices.get(iter.index)}">

                                        <button type="submit" class="btn-reset-css btn-svg-UI fill-green mt-3">
                                            <svg>
                                                <rect></rect>
                                            </svg>
                                            <span>Chọn</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="recommendations__result-content">
                                <div class="recommendations__result-name" tabindex="0" role="button">
                                    <span th:text="${tasker.getUser().getLastName()  + ' ' + tasker.getUser().getFirstName()}"></span>
                                </div>
                                <span>
                                <div class="recommendations__result-price-container priceChange-appear-active">
                                    <div class="recommendations__result-price recommendations__pill">
                                        <strong><span th:text="${#numbers.formatDecimal(prices.get(iter.index), 0, 'COMMA', 0, 'POINT')}">80.000</span> vnđ<span>/h</span></strong>
                                    </div>
                                </div>
                            </span>
                                <ul class="recommendations__badge-list">
                                    <li class="recommendations__pill--elite">
                                        <i class="icon-sentiment_very_satisfied"></i><span th:text="#{task-create.step2.elite-tasker}">Nhân viên ưu tú</span>
                                    </li>
                                </ul>
                                <ul class="recommendations__result-info">
                                    <li><i class="icon-check-circle-o"></i><span><span th:text="${stats.get(iter.index).getCompletedTask()}"></span> đã hoàn thành</span></li>
                                    <li><i class="icon-star-o"></i>
                                        <span style="margin-left: -5px;">
                                        100% Nhận xét tích cực
                                        <span class="tooltip-tether">
                                            <i class="icon-info_outline recommendations__badge-info"></i>
                                            <span class="tooltip">
                                                <div class="tooltip-triangle"></div>
                                                <div class="tooltip-inner">
                                                    <span th:text="#{task-create.step2.positive-reviews-detail}"></span>
                                                </div>
                                            </span>
                                        </span>
                                    </span>

                                    </li>
                                    <li><i class="icon-beenhere"></i><span style="margin-left: -3px;">100% Tin cậy</span> <i
                                        class="icon-info_outline"></i></li>
                                </ul>
                                <div class="recommendations__blurb-title"><span th:text="#{task-create.step2.how-i-can-help}"></span></div>
                                <div class="recommendations__blurb">
                                    <span th:text="${tasker.description}"></span>
                                </div>
<!--                                <div class="recommendations__review media&#45;&#45;object">-->
<!--                                    <div class="media&#45;&#45;figure">-->
<!--                                        <img class="avatar-new-72" th:src="@{~/images/person_1.jpg}"-->
<!--                                             alt="Reviewer">-->
<!--                                    </div>-->
<!--                                    <div class="media&#45;&#45;content">-->
<!--                                        <div class="recommendations__review-content">"Công việc tuyệt vời. Đúng giờ, thân-->
<!--                                            thiện, nhanh chóng và lành nghề."-->
<!--                                        </div>-->
<!--                                        <div class="u-muted">Xuân Thứ - 7/11/2019</div>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="recommendations__result-actions view-mobile">
                                    <form th:action="@{/task/create/step2}" method="post">
                                        <input type="hidden" id="tasker" name="tasker" th:value="${tasker.id}">
                                        <input type="hidden" id="price" name="price" th:value="${prices.get(iter.index)}">

                                        <button type="submit" class="recommendations__hire-btn btn btn-primary btn-block mt-3">
                                            <span>Chọn</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="fragment/layout :: footer"></th:block>
</div>
<th:block th:include="fragment/layout :: javascript"></th:block>
<script th:src="@{/js/task/task-step.js}"></script>
<script th:src="@{/js/task/task-step2.js}"></script>
</body>
</html>
