<div>
    <h2 id="page-heading">
        <span jhiTranslate="taskUniteApp.master.home.title">Masters</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-master" [routerLink]="['/master/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="taskUniteApp.master.home.createLabel">
            Create a new Master
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="masters?.length === 0">
        <span jhiTranslate="taskUniteApp.master.home.notFound">No masters found</span>
    </div>
    <div class="table-responsive" *ngIf="masters?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="status"><span jhiTranslate="taskUniteApp.master.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="taskUniteApp.master.createdAt">Created At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updatedAt"><span jhiTranslate="taskUniteApp.master.updatedAt">Updated At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="deletedAt"><span jhiTranslate="taskUniteApp.master.deletedAt">Deleted At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="userId"><span jhiTranslate="taskUniteApp.master.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let master of masters ;trackBy: trackId">
                <td><a [routerLink]="['/master', master.id, 'view' ]">{{master.id}}</a></td>
                <td>{{master.status}}</td>
                <td>{{master.createdAt | date:'mediumDate'}}</td>
                <td>{{master.updatedAt | date:'mediumDate'}}</td>
                <td>{{master.deletedAt | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="master.userId">
                        <a [routerLink]="['/user-extend', master.userId , 'view' ]" >{{master.userId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/master', master.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/master', master.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(master)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="masters?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
