<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tasker">
            <h2><span jhiTranslate="taskuniteApp.tasker.detail.title">Tasker</span> {{tasker.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="taskuniteApp.tasker.level">Level</span></dt>
                <dd>
                    <span>{{tasker.level}}</span>
                </dd>
                <dt><span jhiTranslate="taskuniteApp.tasker.pricePerHour">Price Per Hour</span></dt>
                <dd>
                    <span>{{tasker.pricePerHour}}</span>
                </dd>
                <dt><span jhiTranslate="taskuniteApp.tasker.status">Status</span></dt>
                <dd>
                    <span>{{tasker.status}}</span>
                </dd>
                <dt><span jhiTranslate="taskuniteApp.tasker.createdAt">Created At</span></dt>
                <dd>
                    <span>{{tasker.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="taskuniteApp.tasker.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{tasker.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="taskuniteApp.tasker.deletedAt">Deleted At</span></dt>
                <dd>
                    <span>{{tasker.deletedAt}}</span>
                </dd>
                <dt><span jhiTranslate="taskuniteApp.tasker.user">User</span></dt>
                <dd>
                    {{tasker.userId}}
                </dd>
                <dt><span jhiTranslate="taskuniteApp.tasker.taskCategories">Task Categories</span></dt>
                <dd>
                    <span *ngFor="let taskCategories of tasker.taskCategories; let last = last">
                        <a [routerLink]="['/task-category', taskCategories?.id, 'view' ]">{{taskCategories.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tasker', tasker.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
