@media screen and (max-width: 400px) {
  .box-logo-step {
    text-align: center;
  }

  .box-step {
    padding: 10px 0;
  }

  .box-step .step {
    position: relative;
    text-align: center;
  }

  .box-step .box-circle {
    margin: auto;
    position: relative;
    z-index: 2;
  }

  .box-step .step .box-line .line {
    top: 35%;
    left: 50%;
  }

  .box-step .step .box-line {
    z-index: 1;
  }

  .box-step .step .name-step {
    font-size: 9px;
    text-align: center;
    margin-left: 0 !important;
  }

  .box-step .step.active .name-step {
    color: #414141;
  }

  .build-progress__sub-bar__message {
    font-size: 13px;
  }

  /*Create task step 1*/
  .site-section {
    padding: 1rem 0;
  }

  .task-box {
    border-radius: 0px;
    border-right: none;
    border-left: none;
  }

  .task-box .custom-control-inline {
    display: flow-root;
  }
  #estimated-time {
    width: 100% !important;
  }

  /*Create task step 2*/

  .box-filter {
    margin-top: 0;
  }

  .panel,
  .panel--with-overflow {
    padding: 1rem 1rem;
  }
}
