.description-text {
  min-height: 150px;
}

@media screen and (max-width: 576px){
  .text-banner h2{
    font-size: 20px;
    padding: 10px 0;
  }
  .text-banner h4 {
    font-size: 15px;
  }
  .site-section {
    padding: 1rem 0;
  }
  .description-text{
    min-height: 100px ;
  }
}

@media screen and (max-width: 767px){
  .content-right {
    border-right: none;
  }
  .description-text{
    min-height: 60px ;
  }
}






