body {
  line-height: 1.7;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Roboto Mono', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  color: #000;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

a:hover {
  text-decoration: none;
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background: #000 !important;
}

.line-height-sm {
  line-height: 1.3;
}

.line-height-xs {
  line-height: 1;
}

.site-wrap:before {
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: '';
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.offcanvas-menu .site-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

.offcanvas-menu .site-wrap:before {
  opacity: 1;
  visibility: visible;
}

.btn {
  position: relative;
  top: 0;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn.btn-secondary {
  background-color: #e6e7e9;
  border-color: #e6e7e9;
  color: #000;
}

.btn.btn-sm {
  font-size: 0.9rem;
}

.btn:hover {
  /*-webkit-box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;*/
  /*box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;*/
}

.btn.pill {
  border-radius: 30px !important;
}

.btn.btn-white.btn-outline-white {
  border-color: #fff;
  background: transparent;
  color: #fff;
}

.btn.btn-white.btn-outline-white:hover {
  background: #fff;
  color: #000;
}

.bg-black {
  background: #000;
}

.btn-search {
  height: 55px;
}

.form-control {
  height: 55px;
}

.form-control:active,
.form-control:focus {
  border-color: #28a745;
}

.form-control:hover,
.form-control:active,
.form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.site-section {
  padding: 3em 0;
}

@media (min-width: 768px) {
  .site-section {
    padding: 3em 0;
  }
}

.site-section.site-section-sm {
  padding: 4em 0;
}

.site-section-heading {
  font-size: 30px;
  color: #25262a;
  position: relative;
}

.site-section-heading:before {
  content: '';
  left: 0%;
  top: 0;
  position: absolute;
  width: 40px;
  height: 2px;
  background: #28a745;
}

.site-section-heading.text-center:before {
  content: '';
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 40px;
  height: 2px;
  background: #28a745;
}

.site-footer {
  padding: 4em 0;
  background: #0d0d0d;
  color: rgba(255, 255, 255, 0.5);
}

.site-footer .footer-heading {
  font-size: 20px;
}

.site-footer a {
  color: rgba(255, 255, 255, 0.3);
}

.site-footer a:hover {
  color: #fff;
}

.site-footer ul li {
  margin-bottom: 10px;
}

.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000;
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center center;
}

.bg-image.center {
  background-position: top center;
}

.bg-image.fixed {
  background-position: center !important;
}

.bg-image.overlay,
.bg-image.overlay-primary,
.bg-image.overlay-info,
.bg-image.overlay-success,
.bg-image.overlay-warning {
  position: relative;
}

.bg-image.overlay:before,
.bg-image.overlay-primary:before,
.bg-image.overlay-info:before,
.bg-image.overlay-success:before,
.bg-image.overlay-warning:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.bg-image.overlay:before {
  background: rgba(0, 0, 0, 0.4);
}

.bg-image.overlay-primary:before {
  background: rgba(40, 167, 69, 0.9);
}

.bg-image.overlay-info:before {
  background: rgba(38, 186, 238, 0.9);
}

.bg-image.overlay-success:before {
  background: rgba(40, 167, 69, 0.9);
}

.bg-image.overlay-success:before {
  background: rgba(248, 181, 0, 0.9);
}

@media (max-width: 767.98px) {
  .display-3,
  .display-2,
  .display-4 {
    font-size: 3rem !important;
  }
}

@media (max-width: 991.98px) {
  .bg-md-height {
    height: 300px;
  }
}

@media (max-width: 767.98px) {
  .bg-sm-height {
    height: 300px;
  }
}

.lineheight1-5 {
  line-height: 1.5 !important;
}

.input-wrap {
  position: relative;
}

.input-wrap input {
  padding-right: 50px;
}

.input-wrap .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Navbar */
.site-navbar-wrap {
  background: #fff !important;
  position: fixed;
  z-index: 99;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 113px;
  left: 0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.site-navbar-wrap.scrolled {
  padding: 0px 0;
  -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.1);
}

.site-navbar-top {
  display: none;
  font-size: 0.8rem;
  background: #1e7e34;
}

.site-navbar-top a {
  color: #fff;
}

.site-navbar-top .text-with-icon {
  color: rgba(255, 255, 255, 0.5);
}

.site-navbar-top,
.site-navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.site-navbar {
  margin-bottom: 0px;
  width: 100%;
  border-bottom: none;
  background: #fff !important;
}

.site-navbar .site-logo {
  font-weight: 200;
}

.site-navbar .site-logo a {
  font-weight: 200;
  font-size: 26px;
  color: #000;
}

.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active > a {
  color: #000;
}

.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  font-size: 15px;
  display: inline-block;
}

.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
  padding: 10px 5px;
}

.site-navbar .site-navigation .site-menu > li > a {
  padding: 10px 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu > li > a:hover {
  color: #000;
}

.site-navbar .site-navigation .site-menu > li:last-child {
  padding-right: 0;
}

.site-navbar .site-navigation .site-menu > li:last-child > a {
  padding-right: 0;
}

.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}

.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: '\e313';
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  border-radius: 7px;
  position: absolute;
  text-align: left;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
  padding: 10px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #000;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  bottom: 100%;
  left: 15%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #000;
  border-width: 7px;
  margin-left: -7px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #343a40;
  color: #fff;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
  color: #28a745 !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 5px 20px;
  display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  color: #28a745;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
  content: '\e315';
  right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  left: 100%;
  top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
  color: #28a745;
}

.site-navbar .site-navigation .site-menu .has-children a {
  text-transform: uppercase;
}

.site-navbar .site-navigation .site-menu .has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children:focus > a,
.site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #000;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #25262a;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
  color: #28a745;
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap li.active > a {
  color: #28a745;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: 'icomoon';
  content: '\f078';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}

.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}

/* Blocks */
.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.site-blocks-cover.overlay {
  position: relative;
}

.site-blocks-cover.overlay:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}

.site-blocks-cover,
.site-blocks-cover > .container > .row {
  min-height: 600px;
  height: calc(100vh);
}

.site-blocks-cover.inner-page,
.site-blocks-cover.inner-page > .container > .row {
  min-height: 400px;
  height: calc(30vh);
}

.site-blocks-cover .sub-text {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.2em;
}

.site-blocks-cover h1 {
  font-weight: 700;
  color: #fff;
  font-size: 2rem;
}

.site-blocks-cover h1 strong {
  font-weight: 900;
}

@media (min-width: 768px) {
  .site-blocks-cover h1 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

.site-blocks-cover p {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5;
}

.site-blocks-cover p a {
  color: #fff;
}

.site-blocks-cover p a.category {
  padding: 2px 10px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}

.site-blocks-cover p a.category:hover {
  background: rgba(255, 255, 255, 0.2);
}

.site-blocks-cover .intro-text {
  font-size: 16px;
  line-height: 1.5;
}

.section-heading h2 {
  position: relative;
  display: inline-block;
}

.section-heading h2:before,
.section-heading h2:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  background: #28a745;
  left: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section-heading h2:before {
  width: 100px;
  bottom: -10px;
  left: 50%;
}

.section-heading h2:after {
  width: 80px;
  bottom: -20px;
  left: 50%;
}

.section-heading.text-left h2:before,
.section-heading.text-left h2:after {
  left: 0;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.feature-item {
  background: #e6e6e6;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  display: block;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.feature-item .icon {
  font-size: 40px;
  margin-bottom: 0px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.feature-item h2 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.feature-item .counting {
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 10px;
  padding: 2px 10px;
  background: #cccccc;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.feature-item:hover {
  background: #28a745;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.feature-item:hover .icon {
  color: #fff !important;
}

.feature-item:hover h2 {
  color: #fff;
}

.feature-item:hover .counting {
  background: #23923d;
  color: #fff;
}

.image-play {
  position: relative;
}

.image-play .icon-wrap {
  z-index: 6;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
}

.image-play .icon-wrap > span {
  font-size: 40px;
  color: #000;
  position: absolute;
  -webkit-transform: translate(-35%, -50%);
  -ms-transform: translate(-35%, -50%);
  transform: translate(-35%, -50%);
  top: 50%;
  left: 50%;
}

.jobs-wrap .job-item {
  display: block;
  border-bottom: 1px solid #ced4da !important;
  color: rgba(0, 0, 0, 0.5);
  background: #fff;
  position: relative;
  z-index: 1;
}

.jobs-wrap .job-item:hover {
  background: #fff;
  -webkit-box-shadow: 4px 0 40px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 4px 0 40px 0 rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.jobs-wrap .job-item.last {
  border-bottom: none !important;
}

.jobs-wrap .job-item.fulltime {
  border-left: 3px solid #26baee;
}

.jobs-wrap .job-item.freelance {
  border-left: 3px solid #f8b500;
}

.jobs-wrap .job-item.partime {
  border-left: 3px solid #f23a2e;
}

.jobs-wrap .job-item .company-logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
}

.jobs-wrap .job-item .company-logo img {
  max-width: 50px;
  border-radius: 4px;
}

.jobs-wrap .job-item h3 {
  font-size: 17px;
}

.jobs-wrap .job-item .job-details {
  width: calc(100% - 250px);
}

@media (max-width: 1199.98px) {
  .jobs-wrap .job-item .job-details {
    width: 100%;
    text-align: center;
  }
}

.jobs-wrap .job-item .job-category {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  text-align: center;
}

.block-15,
.block-16 {
  position: relative;
  z-index: 1;
}

.block-15 .owl-nav,
.block-16 .owl-nav {
  position: relative;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.block-15 .owl-nav .owl-prev,
.block-15 .owl-nav .owl-next,
.block-16 .owl-nav .owl-prev,
.block-16 .owl-nav .owl-next {
  position: relative;
  display: inline-block;
  padding: 20px;
  font-size: 30px;
  color: #000;
}

.block-15 .owl-nav .owl-prev.disabled,
.block-15 .owl-nav .owl-next.disabled,
.block-16 .owl-nav .owl-prev.disabled,
.block-16 .owl-nav .owl-next.disabled {
  opacity: 0.2;
}

.block-15 .owl-stage-outer,
.block-16 .owl-stage-outer {
  padding-top: 0px;
  padding-bottom: 30px;
}

.block-15 .owl-nav,
.block-16 .owl-nav {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 991.98px) {
  .block-15 .owl-nav,
  .block-16 .owl-nav {
    display: none;
  }
}

.block-15 .owl-nav .owl-prev,
.block-15 .owl-nav .owl-next,
.block-16 .owl-nav .owl-prev,
.block-16 .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.block-15 .owl-nav .owl-prev,
.block-16 .owl-nav .owl-prev {
  left: -70px;
}

.block-15 .owl-nav .owl-next,
.block-16 .owl-nav .owl-next {
  right: -70px;
}

.block-15 .owl-dots,
.block-16 .owl-dots {
  text-align: center;
}

.block-15 .owl-dots .owl-dot,
.block-16 .owl-dots .owl-dot {
  display: inline-block;
  margin: 5px;
}

.block-15 .owl-dots .owl-dot > span,
.block-16 .owl-dots .owl-dot > span {
  line-height: 0;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: none;
  float: left;
  background: #cccccc;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.block-15 .owl-dots .owl-dot.active > span,
.block-16 .owl-dots .owl-dot.active > span {
  background: #28a745;
}

.unit-5 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-size: cover;
  background-position: center center;
}

.unit-5.overlay {
  position: relative;
}

.unit-5.overlay:before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.unit-5 > .container {
  z-index: 2;
  position: relative;
}

.unit-5 h2 {
  color: #fff;
  font-size: 3rem;
}

.unit-6 {
  color: #fff;
}

.unit-6 .sep {
  color: rgba(255, 255, 255, 0.2);
  margin: 0 10px;
}

.unit-7 {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #ffffff;
  border: 3px solid #e8e8e8;
}

.unit-7 .pricing-table__item-header {
  position: relative;
  z-index: 1;
  display: inline-block;
  top: -12px;
  margin-bottom: -12px;
  text-align: center;
  color: #ffffff;
  padding: 9px 40px;
  min-width: 200px;
  width: auto;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.unit-7 .pricing-table__item-header:before,
.unit-7 .pricing-table__item-header:after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 12px 6px;
  border-color: transparent transparent #2c3640 transparent;
  z-index: 2;
}

.unit-7 .pricing-table__item-header:before {
  left: -6px;
}

.unit-7 .pricing-table__item-header:after {
  right: -6px;
}

.unit-7 .pricing-table__item-header-bg {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: -1px;
  right: -1px;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transform: skew(-27deg);
  -ms-transform: skew(-27deg);
  transform: skew(-27deg);
}

.unit-7 .pricing-table__item-header-bg-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: skew(27deg);
  -ms-transform: skew(27deg);
  transform: skew(27deg);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.unit-7 .pricing-table__item-header-bg-inner:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: skew(27deg);
  -ms-transform: skew(27deg);
  transform: skew(27deg);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  background: #3e4955;
}

.unit-7 .pricing-table__item-main {
  padding: 30px;
}

.unit-7 .pricing-table__item-title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  letter-spacing: 0.075em;
  text-transform: uppercase;
}

.unit-7 ul li {
  margin-bottom: 10px;
}

.unit-7 .text-mark {
  color: #000;
  font-weight: bold;
}

.unit-7.featured-pricing .pricing-table__item-header:before,
.unit-7.featured-pricing .pricing-table__item-header:after {
  border-color: transparent transparent #1e7e34 transparent;
}

.unit-7.featured-pricing .pricing-table__item-header-bg-inner:before {
  background: #28a745;
}

.unit-8 .accordion-item .heading {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px 0;
}

.unit-8 .accordion-item .heading > a {
  padding-left: 35px;
  position: relative;
  color: #000;
}

.unit-8 .accordion-item .heading > a:before {
  width: 20px;
  height: 20px;
  line-height: 18px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 18px;
  top: 0.1em;
  left: 0;
}

.unit-8 .accordion-item .heading > a[aria-expanded='true']:before {
  font-family: 'icomoon';
  position: absolute;
  content: '\e316';
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: #c4592b;
  color: #fff;
  border: 1px solid #c4592b;
}

.unit-8 .accordion-item .heading > a[aria-expanded='false']:before {
  content: '\e313';
  color: #ccc;
  font-family: 'icomoon';
  position: absolute;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.unit-8 .accordion-item .body-text {
  padding: 5px 0;
  padding-left: 30px;
}

.team .person {
  display: block;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.team .person:hover,
.team .person:focus {
  opacity: 0.7;
}

.team .person img {
  max-width: 100%;
  margin-bottom: 20px;
}

.team .person h2 {
  font-size: 18px;
  line-height: 1.5;
}

.team .person p {
  font-size: 13px;
  color: #ccc;
}

.site-block-27 ul,
.site-block-27 ul li {
  padding: 0;
  margin: 0;
}

.site-block-27 ul li {
  display: inline-block;
  margin-bottom: 4px;
}

.site-block-27 ul li i {
  position: relative;
  top: 2px;
}

.site-block-27 ul li a,
.site-block-27 ul li span {
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.site-block-27 ul li.active a,
.site-block-27 ul li.active span {
  background: #28a745;
  color: #fff;
  border: 1px solid transparent;
}

/*MY CSS*/

/*create task step 1*/

.text-pink {
  color: #ff449c;
}

.text-purple {
  color: #7971ea;
}

.text-orange {
  color: #fd7e14;
}

.text-secondary {
  color: #6c757d;
}

.job-des-preview {
  text-overflow: ellipsis;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap !important;
}

.box-step {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

.box-step .step {
  flex: 1;
  position: relative;
}

.box-step .step .box-line .line {
  height: 1px;
  width: 100%;
  background: #e8ebef;
  margin: auto 0;
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
}

.box-step .step .box-line {
  line-height: 25px;
  float: left;
  width: 80%;
}

.logo-step {
  max-width: 60px;
}

.box-step .step .box-circle {
  width: 20%;
}

.name-step:before {
  content: '';
  clear: both;
  display: table;
}

#form-task textarea {
  min-height: 150px;
}

.box-step .box-circle .circle {
  float: left;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background: #e8ebef;
  color: #2f2f2f;
  border-radius: 50%;
}

.box-step .step.active .circle {
  background: #51af33;
  color: #fff;
}

.box-step .step .name-step {
  font-weight: 600;
}

.box-step .step:nth-child(1) .name-step {
  margin-left: -25%;
}

.box-step .step:nth-child(2) .name-step {
  margin-left: -22%;
}

.box-step .step:nth-child(3) .name-step {
  margin-left: -5%;
}

.box-step .step:nth-child(4) .name-step {
  margin-left: -10%;
}

.build-progress__sub-bar {
  background: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.build-progress__sub-bar__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1rem 1rem;
}

.d-inline {
  display: inline !important;
}

.build-progress__sub-bar__icon {
  margin-right: 1rem;
  height: 34px;
  object-fit: contain;
}

.build-progress__sub-bar__message {
  color: #242a30;
}

.error-msg {
  font-size: 12px;
  font-style: italic;
  text-transform: none;
  margin-left: 5px;
}

.text-bold {
  font-weight: 600;
  color: #3b3b3b;
}

/*.color-primary {*/
/*  color: #c4592b;*/
/*}*/

.task-box {
  border-color: #c9c9c9 !important;
  border-radius: 5px;
  padding: 1.375rem;
}

.task-box[data-editing='true'] {
  box-shadow: 0px 2px 2px 0px rgba(36, 42, 48, 0.15);
}

.task-box .status-task-box {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  font-weight: 100;
}

.task-box .form-control {
  height: 40px !important;
}

.task-box input.form-control::placeholder {
  color: #aeaeae;
}

.task-box .status-task-box {
  cursor: pointer;
}

.task-box select[name='option-address'],
.task-box select[name='option-address']:focus {
  color: #6f6f6f;
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid #f1f1f1;
}

#filter-option {
  padding: 7px;
  border: none;
  border: 1px solid #9c9c9c;
  border-radius: 3px;
}

.task-box .text-label {
  color: #616161;
}

/*create task step 2*/
.recommendations__trust-safety__box {
  color: #242a30;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  margin: 5px;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  background: white;
  border: 1px solid #dce0e6;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  padding: 1rem 1.5rem;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.recommendations__trust-safety__box__text {
  font-weight: 400;
  color: #6d6d6d;
}

.recommendations__trust-safety__box__icon {
  margin-right: 1.5rem;
  height: 33px;
  object-fit: contain;
}

.bg-dark-light {
  background: #f7f8f9;
}

.panel,
.panel--with-overflow {
  background: white;
  border: 1px solid #dce0e6;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  position: relative;
  margin: 5px;
  color: #505050;
}

.iconSlideUp {
  font-weight: 100 !important;
  position: absolute;
  top: 20px;
  right: 10px;
  width: 20px;
  height: 20px;
}

.iconSlideUp.roomTask {
  top: 5px;
}

/*.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.is-selected, .btn-primary:visited:hover, .btn-primary:visited:focus, .btn-primary:visited:active, .btn-primary:visited.is-selected {*/
/*  border: 1px solid #438e29;*/
/*  background-color: #438e29;*/
/*}*/

/*.btn-primary {*/
/*  border: 1px solid #51af33;*/
/*  background-color: #51af33;*/
/*}*/

.option-date button {
  padding: 0.5em 1.38em 0.5em;
  color: #545e69;
  border: 1px solid #b1b9c3;
  background-color: white;
  outline: none;
  cursor: pointer;
  margin: 0;
  width: 100%;
  font-size: 15px;
  transition: 0.3s;
  border-radius: 3px;
}

.option-date button:hover {
  border: 1px solid #d7d7d7;
  background-color: #d7d7d7;
}

.option-date button.active {
  border: 1px solid #51af33;
  background-color: #51af33;
  color: #fff !important;
}

.btn-primary {
  color: #fff !important;
}

.option-date button.active:hover {
  border: 1px solid #438e29;
  background-color: #438e29;
}

.box-option {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.option-date {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  padding: 5px;
}

.h-20 {
  height: 20px;
  line-height: 20px;
}

.line-mid {
  position: relative;
  width: 100%;
}

.line-mid .line {
  height: 1px;
  width: 100%;
  background: #afafaf;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.recommendations__result {
  padding: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  margin-bottom: 15px;
}

.recommendations__result-figure {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.recommendations__result-content {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
  position: relative;
}

@media all and (min-width: 601px) {
  .recommendations__result-content {
    margin-left: 2rem;
  }
}

@media all and (max-width: 600px) {
  .recommendations__result-content {
    text-align: center;
  }

  .recommendations__result {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 350px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem;
  }
}

.recommendations__review-link {
  margin: 20px 0;
  cursor: pointer;
}

.recommendations__hire-btn {
  margin: 1rem 0;
  font-size: 1.125rem;
  display: block;
}

@media all and (min-width: 501px) {
  .recommendations__result {
    text-align: left;
  }
}

@media all and (max-width: 600px) {
  .recommendations__result--tasker .recommendations__result-figure .recommendations__hire-btn,
  .recommendations__result--tasker .recommendations__result-figure .recommendations__review-link {
    display: none;
  }

  .recommendations__result--tasker .recommendations__result-content .recommendations__result-actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .recommendations__result--tasker .recommendations__result-content .recommendations__hire-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (min-width: 601px) {
  .recommendations__result--tasker .recommendations__result-content .recommendations__result-actions {
    display: none;
  }

  .recommendations__result--tasker .recommendations__result-content .recommendations__review-link {
    display: none;
  }
}

.recommendations__result-info {
  margin-bottom: 0.8rem;
}

@media all and (max-width: 600px) {
  .recommendations__result-info {
    text-align: left;
    margin-top: 0;
  }
}

.recommendations__result-info li {
  padding-top: 0.3rem;
}

.recommendations__badge-list {
  text-align: left;
}

.recommendations__badge-list li {
  display: inline;
  position: relative;
}

.recommendations__badge-list li:not(:first-child) {
  padding-top: 0px;
}

@media all and (min-width: 601px) {
  .recommendations__result-info .recommendations__pill {
    margin-left: -1.25rem;
  }
}

.recommendations__result-info i {
  margin-right: 0.25rem;
  padding-right: 12px;
}

.recommendations__review {
  margin-top: 18px;
}

.recommendations__avatar__circular {
  width: 100%;
  border-radius: 50%;
}

@media all and (max-width: 600px) {
  .recommendations__avatar__circular {
    margin-bottom: 1rem;
  }
}

.recommendations__result-actions-tasker-details {
  margin-top: 1em;
}

@media all and (max-width: 500px) {
  .recommendations__tasker-detail .recommendations__result-actions {
    padding: 1rem;
    position: fixed;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
    z-index: 100;
    background: white;
    box-shadow: -3px 0 7px rgba(0, 0, 0, 0.25);
  }
}

.whisper {
  font-weight: 200;
  font-size: 14px;
}

.recommendations__result-name {
  font-size: 2em;
  font-weight: bold;
}

.recommendations__result-price-container {
  margin-bottom: 0.8rem;
}

@media all and (min-width: 601px) {
  .recommendations__result-price-container {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.recommendations__result-price-container.priceChange-appear,
.recommendations__result-price-container.priceChange-enter {
  opacity: 0.01;
}

.recommendations__result-price-container.priceChange-appear-active,
.recommendations__result-price-container.priceChange-enter-active {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.recommendations__result-price-container.priceChange-leave {
  opacity: 1;
}

.recommendations__result-price-container.priceChange-leave-active {
  opacity: 0.01;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}

.recommendations__result-price {
  font-size: 1.5em;
  text-align: center;
}

.recommendations__result-price strong {
  font-weight: 600;
}

@media all and (max-width: 600px) {
  .recommendations__result-price {
    font-size: 1.25em;
    margin-top: 1rem;
  }
}

.recommendations__result-info {
  margin-bottom: 0.8rem;
}

@media all and (max-width: 600px) {
  .recommendations__result-info {
    text-align: left;
    margin-top: 0;
  }
}

.recommendations__result-info li {
  padding-top: 0.3rem;
}

@media all and (min-width: 601px) {
  .recommendations__result-info .recommendations__pill {
    margin-left: -1.25rem;
  }
}

.recommendations__result-info i {
  margin-right: 0.25rem;
  padding-right: 12px;
  background: #fff;
}

ul li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

@media all and (max-width: 600px) {
  .recommendations__no-category-review,
  .recommendations__blurb-title,
  .recommendations__blurb {
    text-align: left;
  }
}

.recommendations__blurb-title {
  font-size: 1rem;
  font-weight: bold;
}

.recommendations__result--tasker .recommendations__blurb-title {
  padding-top: 1rem;
  border-top: 1px solid #dce0e6;
}

.recommendations__blurb {
  font-weight: 300;
}

.media--figure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.media--object {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.media--object .media--figure,
.media--object .media--content {
  position: relative;
}

.media--object .media--figure {
  margin-right: 1.5em;
}

i.recommendations__badge-info {
  color: #b1b9c3;
  margin-left: 0.25rem;
  padding: 0 !important;
}

.recommendations__review-content {
  font-style: italic;
}

.avatar-new-72 {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.recommendations__review {
  margin-top: 18px;
}

@media all and (max-width: 500px) {
  .recommendations__review,
  .recommendations__no-category-review {
    display: none;
  }
}

.recommendations__badge-list li {
  display: inline;
  position: relative;
}

.recommendations__pill--elite i,
.recommendations__pill--reliability-badge i,
.recommendations__pill--new-tasker i {
  padding-right: 1rem;
  color: #31a7a8;
}

.recommendations__pill--elite,
.recommendations__pill--reliability-badge,
.recommendations__pill--new-tasker {
  padding-right: 1rem;
  color: #31a7a8;
  font-weight: 600;
}

.tooltip-hover {
  cursor: pointer;
}

.tooltip-tether {
  position: relative;
  display: inline;
}

.recommendations__result-info i {
  margin-right: 0.25rem;
  padding-right: 12px;
}

i.recommendations__badge-info {
  color: #b1b9c3;
  margin-left: 0.25rem;
  padding: 0 !important;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  width: 18rem;
  right: 0;
  right: -webkit-calc(50% - 9rem);
  right: calc(50% - 9rem);
  opacity: 1;
}

.tooltip.active {
  visibility: visible;
}

.tooltip-triangle {
  height: 0;
  margin: auto;
  position: relative;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #dce0e6;
  width: 0rem;
  z-index: 2;
}

.tooltip-triangle:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 9px solid white;
  top: 2px;
  left: -webkit-calc(50% - 4px);
  left: calc(50% - 4px);
  z-index: 1;
}

.tooltip .tooltip-inner {
  position: relative;
  line-height: 20px;
  padding: 0.8rem;
  text-align: left;
  color: #242a30;
  background: white;
  border: 1px solid #dce0e6;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
  font-size: 14px;
  font-weight: normal;
  border-radius: 5px;
  z-index: 1;
  width: 100%;
  max-width: 100%;
}

.modal-choose-date {
  position: absolute;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 450px;
  border-radius: 5px;
  color: #272727;
}

.f-w-300 {
  font-weight: 300;
}

.modal-choose-date span.close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
}

.recommendations__tasker_schedule_modal_tasker {
  padding: 0 4.3rem;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.recommendations__tasker_schedule_modal_tasker img {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  object-fit: contain;
}

.recommendations__tasker_schedule_modal_tasker span {
  margin-left: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #242a30;
}

.calendar__container {
  background: white;
  z-index: 1;
}

.calendar__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.calendar__title {
  font-size: 16px;
}

@media (min-width: 501px) {
  h4,
  .h4 {
    font-size: 1.25rem;
    line-height: 1.6;
  }
}

.calendar__week {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.calendar__day--label {
  color: #86919d;
  font-weight: normal;
}

.calendar__box,
.calendar__day--label,
.calendar__day {
  height: 45px;
  width: 45px;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.calendar__day--selected,
.calendar__day--selected:hover {
  background-color: #51af33;
  color: #ffffff !important;
}

.calendar__day--hover:hover {
  background-color: #dce0e6;
}

.calendar__day:last-child {
  border-right: 1px solid #dce0e6;
}

.calendar__row:last-child > .calendar__week {
  border-bottom: 1px solid #dce0e6;
}

.calendar__day--selected,
.calendar__day--selected:hover {
  background-color: #51af33;
  color: #ffffff;
}

@media (min-width: 1025px) {
  .calendar__row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.calendar__day--disabled {
  color: #dce0e6;
}

.calendar__day {
  border: 1px solid #dce0e6;
  border-right: none;
  border-bottom: none;
  cursor: pointer;
  font-weight: normal;
}

.recommendations__tasker_schedule_modal--select {
  margin: 1.5em auto;
  position: relative;
  width: 315px;
}

.recommendations__tasker_schedule_modal--select select {
  margin: 0;
  padding: 0.5em 0.75em;
  background-color: white;
  height: 46px;
  font-weight: normal;
  border: 1px solid #b1b9c3;
  font-size: 1em;
  border-radius: 4px;
  -webkit-transition-property: border-color, color, box-shadow;
  transition-property: border-color, color, box-shadow;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  max-width: 100%;
  vertical-align: middle;
  min-height: 46px;
}

.recommendations__tasker_schedule_modal_can_chat {
  font-size: 0.875rem;
  margin-top: 1rem;
  font-weight: 300;
}

.recommendations__tasker_schedule_modal_can_chat_mobile {
  font-size: 0.75rem;
}

@media all and (min-width: 1001px) {
  .recommendations__tasker_schedule_modal--selection {
    margin-left: 1em;
  }
}

@media all and (min-width: 1001px) and (max-width: 1000px) {
  .recommendations__tasker_schedule_modal--selection {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
}

@media all and (max-width: 1000px) {
  .recommendations__tasker_schedule_modal--selection {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
}

.recommendations__tasker_schedule_modal_tasker span {
  margin-left: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #242a30;
}

@media all and (max-width: 1000px) {
  .recommendations__tasker_schedule_modal_tasker span {
    font-size: 1rem;
  }
}

.box-next-step-4 {
  justify-content: center;
  padding: 20px;
  align-items: center;
}

.pre-datetime {
  margin-top: -5px;
}

.recommendations__tasker_schedule_modal_next_step {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 20px;
}

.calendar__day--today {
  color: #259995;
}

.recommendations__tasker_schedule_modal_next_step img {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.recommendations__tasker_schedule_modal_next_step div {
  margin-left: 0.5rem;
  font-size: 0.875rem;
}

@media all and (max-width: 1000px) {
  .recommendations__tasker_schedule_modal_next_step div {
    font-size: 0.75rem;
  }
}

input.iBanking {
  height: 40px;
}

.task-name,
.tasker-name {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap !important;
}

.confirm-avatar-tasker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

div.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap !important;
  max-width: 150px;
  display: inline-block;
  vertical-align: middle;
}

.box-star span {
  font-size: 30px;
  cursor: pointer;
}
.box-star span.icon-star {
  color: #ffdd00;
}


/* Custom css Datepicker*/
.datepicker.datepicker-inline {
  width: 100%;
  display: flex;
  justify-content: center;
}
.datepicker.datepicker-inline .datepicker-days{
  width: 100%;
  padding: 0 65px;
}
.datepicker.datepicker-inline .datepicker-days > .table-condensed{
  width: 100%;
}

.datepicker.datepicker-inline .datepicker-days > .table-condensed thead tr{
  line-height: 30px;
}

.datepicker.datepicker-inline .datepicker-days > .table-condensed tbody tr:last-child{
  border-bottom: 1px solid #dce0e6;
}

.datepicker.datepicker-inline .datepicker-days > .table-condensed tbody{
  line-height: 35px;
}
.datepicker.datepicker-inline .datepicker-days > .table-condensed tbody td{
  border: 1px solid #dce0e6;
  border-right: none;
  border-bottom: none;
  height: 45px;
  width: 45px;
  font-size: 14px;
  border-radius: 0px;
}

.datepicker.datepicker-inline .datepicker-days > .table-condensed tbody td.active{
  background: #1e7e34;
  border: 1px solid #1e7e34;
}

.datepicker.datepicker-inline .datepicker-days > .table-condensed tbody td:last-child{
  border-right: 1px solid #dce0e6;
}




/*.btn-task-done {*/
/*  position: relative;*/
/*  background: transparent;*/
/*  outline: none;*/
/*  border: none;*/
/*  height: 45px;*/
/*  padding: 10px 30px;*/
/*  text-transform: uppercase;*/
/*  cursor: pointer;*/
/*}*/

/*.btn-task-done:focus{*/
/*  border: none;*/
/*  outline: none;*/
/*}*/

/*.btn-task-done:hover{*/
/*  color: #fff;*/
/*}*/

/*.btn-task-done span:nth-child(1){*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  border: solid 1px #28A745;*/
/*  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;*/
/*  transition: .5s;*/
/*  animation: animate 6s linear infinite;*/
/*}*/
/*.btn-task-done:hover span:nth-child(1){*/
/*  background: #28A745;*/
/*}*/

/*.btn-task-done span:nth-child(2){*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  border: solid 1px #28A745;*/
/*  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;*/
/*  transition: .5s;*/
/*  animation: animate 4s linear infinite;*/
/*}*/
/*.btn-task-done:hover span:nth-child(2){*/
/*  background: #28A745;*/
/*}*/

/*.btn-task-done span:nth-child(3){*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  border: solid 1px #28A745;*/
/*  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;*/
/*  transition: .5s;*/
/*  animation: animate2 10s linear infinite;*/
/*}*/
/*.btn-task-done:hover span:nth-child(3){*/
/*  background: #28A745;*/
/*}*/

/*@keyframes animate {*/
/*  0% {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  100%{*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@keyframes animate2 {*/
/*  0% {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*  100%{*/
/*    transform: rotate(0deg);*/
/*  }*/
/*}*/

/*FONT SIZE*/
.t-30 {
  font-size: 30px;
}

.t-25 {
  font-size: 25px;
}

.t-20 {
  font-size: 20px;
}

.t-14 {
  font-size: 14px;
}

.t-green {
  color: #28a745;
}

/*RESET CSS Bootstrap*/
/*.btn-primary {*/
/*  border-color: #9a4d28;*/
/*  background: #c4592b;*/
/*  color: #fff;*/
/*}*/

/*.btn-primary:hover {*/
/*  background: #d65c2b;*/
/*  border-color: #b3612d;*/
/*}*/

/*.text-success {*/
/*  color: #c4592b !important;*/
/*}*/

/*a {*/
/*  color: #c4592b !important;*/
/*}*/
