.btn-reset-css {
  outline: none;
  border: none;
  padding: 0;
  box-shadow: none;
  background: none;
}

.btn-reset-css:focus {
  outline: none;
}

.btn-svg-UI {
  position: relative;
  height: 40px;
  width: 200px;
  display: block;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #818181;
  transition: 0.5s;
  background: transparent;
  cursor: pointer;
  line-height: 40px;
}

.btn-svg-UI:disabled,
.btn-svg-UI[disabled] {
  opacity: .6;
  cursor: default;
}

.btn-svg-UI.fill-green{
  background: #51af33;
  color: #fff;
}

.btn-svg-UI.fill-green svg rect{
  stroke: #51af33;
}

.btn-svg-UI svg,
.btn-svg-UI svg rect {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  fill: transparent;
}

.btn-svg-UI svg rect {
  stroke: #818181;
  stroke-width: 4;
  transition: .5s;
  stroke-dasharray: 200, 40;
}


.btn-svg-UI:hover{
  background: #51af33;
  color: #fff;
  box-shadow: 0 0 18px 0px rgba(81, 175, 51, 0.59) !important;
}

.btn-svg-UI:hover svg rect {
  stroke: #fff;
  stroke-dasharray: 40, 200;
  stroke-dashoffset: 300;
}

.btn-svg-UI.animation-svg-infinite{
  background: #51af33;
  color: #fff;
  box-shadow: 0 0 18px 0px rgba(81, 175, 51, 0.59) !important;
  height: 45px;
}


.btn-svg-UI.animation-svg-infinite svg rect{
  animation: animate-svg 2s linear infinite;
  stroke-dasharray: 120;
  stroke: #fff;
  transition: 1.5s;
}

.btn-svg-UI.animation-svg-infinite:hover svg rect{
  stroke: #818181;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  animation-play-state: paused;
}

.btn-svg-UI.animation-svg-infinite:hover{
  background: transparent;
  color: #818181;
  box-shadow: none;
}

@keyframes animate-svg {
  0%{
    stroke: #818181;
    stroke-dashoffset: 480;
  }
  50%{
    stroke: #fff;
    stroke-dashoffset: 240;
  }
  100%{
    stroke: #51af33;
    stroke-dashoffset: 0;
  }
}

.box-wave {
  background: #f7f8f9;
  height: 200px;
  position: relative;
}

.box-wave .wave {
  background: url(../images/wave.png);
  position: absolute;
  width: 100%;
  height: 143px;
  bottom: -1px;
  left: 0;
  animation: animation-wave 10s linear infinite;
}

.box-wave .wave::before {
  content: '';
  background: url(../images/wave.png);
  width: 100%;
  height: 143px;
  bottom: -1px;
  left: 0;
  position: absolute;
  opacity: .6;
  animation: animation-wave-reverse 10s linear infinite;
}

.box-wave .wave::after {
  background: url(../images/wave.png);
  content: '';
  width: 100%;
  position: absolute;
  height: 143px;
  bottom: -1px;
  left: 0;
  opacity: .4;
  animation: animation-wave 20s linear infinite;
  animation-delay: -5s;
}

@keyframes animation-wave {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 1360px;
  }
}

@keyframes animation-wave-reverse {
  0% {
    background-position: 1360px;
  }
  100% {
    background-position: 0px;
  }
}


html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.12);
  background-color: #fafafa;
}

html::-webkit-scrollbar {
  width: 15px;
  height: 20px;
}

html::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear,left top,left bottom,from(#d3e955),to(#51af33));
  background: linear-gradient(180deg,#d3e955,#51af33);
  border-radius: 30px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25)
}
