<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Việc nhà</title>
    <th:block th:include="fragment/layout :: head"> </th:block>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/user-type/center-image.css}">
    <link rel="stylesheet" th:href="@{~/css/responsive/account/intro.css}">
</head>
<body>

<div class="site-wrap">

    <th:block th:include="fragment/layout :: site-mobile-memu"> </th:block>

    <th:block th:include="fragment/layout :: site-navbar"> </th:block>

    <div style="height: 113px;"></div>

    <div class="unit-5 overlay" th:style="'background-image: url(' + @{~/images/hero_1.jpg} + ');'">
        <div class="container text-center text-banner">
            <h2 class="mb-0">Trở thành thành viên ngay hôm nay</h2>
            <h4 class="mb-0 unit-6">Tận hưởng những giá trị mà TaskUnite mang lại</h4>
        </div>
    </div>


    <div class="site-section" data-aos="fade">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto text-center">
                    <div class="mb-5 section-heading">
                        <label class="font-weight-bold">Master ?</label>
                    </div>
                    <img class="center-image mb-3" th:src="@{~/images/client-sign-up-img.png}" alt="">
                    <strong>Đăng ký ngay để nhận sự trợ giúp của cộng đồng Tasker chất lượng</strong>
                    <div class="mt-3">
                        <a href="/intro/master">
                            <button class="btn btn-success" type="button">Trở thành Master
                            </button>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 ml-auto text-center">
                    <div class="mb-5 section-heading">
                        <label class="font-weight-bold">Tasker ?</label>
                    </div>
                    <img class="center-image mb-3" th:src="@{~/images/become-a-tasker-img.png}" alt="">
                    <strong>Tham gia ngay để kiếm thêm thu nhập từ những công việc đầu tiên</strong>
                    <div class="mt-3">
                        <a href="/tasker/step1">
                            <button class="btn btn-success" type="button">Trở thành Tasker
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="fragment/layout :: footer"> </th:block>
</div>
<th:block th:include="fragment/layout :: javascript"> </th:block>
</body>
</html>
