<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Việc nhà</title>
    <th:block th:include="fragment/layout :: head"> </th:block>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/user-type/center-image.css}">
</head>
<body>

<div class="site-wrap">

    <th:block th:include="fragment/layout :: site-mobile-memu"> </th:block>

    <th:block th:include="fragment/layout :: site-navbar"> </th:block>

    <div style="height: 113px;"></div>

    <div class="unit-5 overlay" style="background-image: url('/static/images/hero_1.jpg');">
        <div class="container text-center">
            <h2 class="mb-0">Trở thành thành viên ngay hôm nay</h2>
            <h4 class="mb-0 unit-6">Tận hưởng những giá trị mà TaskUnite mang lại</h4>
        </div>
    </div>


    <div class="site-section" data-aos="fade">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-6 ml-auto content-right">
                    <div class="text-center mb-5 section-heading">
                        <h2>Bạn muốn trở thành Master ?</h2>
                    </div>
                    <img class="center-image" src="/static/images/client-sign-up-img.png" alt="">
                    <p class="mb-4 h5 font-italic lineheight1-5 text-center description-text">Đăng ký ngay để nhận sự trợ giúp của cộng đồng hơn 100,000 Tasker chất lượng.</p>
                    <div class="mt-5 form-group text-center">
                        <button class="btn btn-success btn-continue px-4 " data-type="address" type="button">Trở thành Master
                        </button>
                    </div>
                </div>

                <div class="col-md-6 ml-auto">
                    <div class="text-center mb-5 section-heading">
                        <h2>Bạn muốn trở thành Tasker ?</h2>
                    </div>
                    <img class="center-image" src="/static/images/become-a-tasker-img.png" alt="">
                    <p class="mb-4 h5 font-italic lineheight1-5 text-center description-text">Tham gia ngay để kiếm thêm thu nhập từ những công việc đầu tiên.</p>
                    <p></p>
                    <div class="mt-5 form-group text-center">
                        <button class="btn btn-success btn-continue px-4 " data-type="address" type="button">Trở thành Tasker
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="fragment/layout :: footer"> </th:block>
</div>
<th:block th:include="fragment/layout :: javascript"> </th:block>
</body>
</html>
