    <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng nhập</title>
    <th:block th:include="fragment/layout :: head"> </th:block>
    <!--    <link rel="stylesheet" type="text/css" th:href="@{~/css/account/register.css}">-->
</head>
<body>

<div class="site-wrap">

    <th:block th:include="fragment/layout :: site-mobile-memu"> </th:block>

    <th:block th:include="fragment/layout :: site-navbar"> </th:block>

    <div style="height: 113px;"></div>

    <div class="unit-5 overlay" style="background-image: url('/images/hero_1.jpg');">
        <div class="container text-center">
            <h2 class="mb-0">Đăng Nhập</h2>
            <p class="mb-0 unit-6"><a th:href="@{/}">Trang chủ</a> <span class="sep">></span> <span>Đăng Nhập</span></p>
        </div>
    </div>


    <div class="site-section bg-light">
        <div class="container">
            <div class="row">

                <div class="col-md-6 offset-md-3">
                    <form action="#" id="loginForm" class="p-5 bg-white">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div class="form-group">
                            <label class="font-weight-bold" for="login">Tài khoản</label>
                            <input name="username" type="text" id="login" class="form-control" placeholder="Tài khoản...">
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold" for="password">Mật khẩu</label>
                            <input name="password" type="password" id="password" class="form-control" placeholder="Mật khẩu...">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary px-4 py-2 btn-block btn-lg">Đăng nhập</button>
                        </div>
                        <div class="form-group text-center mb-0">
                            <a th:href="@{/register}" class="hyperlink small">Bạn chưa có tài khoản? Bấm để đăng ký</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <th:block th:include="fragment/layout :: footer"> </th:block>
</div>
<th:block th:include="fragment/layout :: javascript"> </th:block>
<script th:src="@{~/js/account/login.js}"></script>
</body>
</html>
