<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thông tin công việc</title>
    <th:block th:include="fragment/layout :: head"></th:block>
</head>
<body>

<th:block th:include="fragment/layout :: site-mobile-memu"></th:block>

<th:block th:include="fragment/layout :: site-navbar"></th:block>
<div style="height: 113px;"></div>
<div class="site-wrap">
    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-7 ">
                    <div class="panel panel--spaced panel--with-overflow">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="chat">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div class="panel panel--spaced panel--with-overflow">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="task-name text-bold" style="font-size: 18px">
                                    <div th:title="'Công việc nhà'" class="name" th:text="${task.title}"></div>
                                    <!--Trạng thái công việc-->
                                    <span
                                        class="ml-lg-3 badge badge-warning text-white text-bold p-2">Đang thực hiện</span>
                                    <!--                                    <span class="ml-lg-2 badge badge-danger text-white text-bold p-2">Đã hủy</span>-->
                                    <!--                                    <span class="ml-lg-2 badge badge-primary text-white text-bold p-2">Hoàn thành</span>-->
                                </div>
                                <div class="tasker-name mt-1" th:text="${task.getTasker().getUser().getUser().getFirstName() + ' ' + task.getTasker().getUser().getUser().getLastName()}">
                                    Trần Hiểu Đông
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <img th:src="@{~/images/person_1.jpg}" alt="" class="confirm-avatar-tasker">
                            </div>
                        </div>
                        <div style="height: 1px;background: #dadada" class="my-3"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="icon-calendar-o mr-lg-3 t-green"></span>
                                <!--<span th:text="${task.schedule.from}">22 - T11, 8:30 </span>-->
                                <span th:text="${#dates.format(task.schedule.from, 'dd-MM-yyyy, HH:mm')}">22 - T11, 8:30 </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="icon-room mr-lg-3 t-green"></span>
                                <span th:text="${task.address}">Hà Nội - Từ Liêm </span>
                            </div>
                        </div>
                        <div style="height: 1px;background: #dadada" class="my-3"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="icon-chevron-down iconSlideUp roomTask"></span>
                                <span class="text-bold">Chi tiết công việc</span>
                                <div class="box-option mt-3">
                                    <div class="form-group w-100">
                                        <i class="icon-clock-o t-green mr-lg-1"></i> Thời gian dự kiến:
                                        <div class="t-14 px-lg-3 mt-1" >
                                            <span th:text="${task.estimatedTime + ' Giờ'}">2 Giờ</span>
                                        </div>
                                    </div>
                                    <div class="form-group w-100">
                                        <i class="icon-book t-green mr-lg-1"></i> Danh mục:
                                        <div class="t-14 px-lg-3 mt-1">
                                            <span th:text="${task.taskCategory.name}">Việc nhà, Thợ điện</span>
                                        </div>
                                    </div>
                                    <div class="form-group w-100">
                                        <i class="icon-phone  t-green mr-lg-1"></i> Số điện thoại:
                                        <div class="row px-3">
                                            <div class="col-lg-4 t-14">- Khách hàng</div>
                                            <div class="col-lg-1 p-0 t-14">:</div>
                                            <div class="col-lg-7 t-14">
                                                <span th:text="${task.master.user.phone}">0349555602</span>
                                            </div>
                                        </div>
                                        <div class="row px-3">
                                            <div class="col-lg-4 t-14">- Nhân viên</div>
                                            <div class="col-lg-1 p-0 t-14">:</div>
                                            <div class="col-lg-7 t-14">
                                                <span th:text="${task.tasker.user.phone}">0349555602</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <i class="icon-details t-green mr-lg-1"></i> Nôi dung công việc:
                                        <div class="px-3 t-14 mt-2">
                                            <span th:text="${task.description}">
                                                - Vấn đề lớn nhất trong cuộc sống là cuộc sống luôn tồn tại những vấn đề.
                                                <br>
                                                - Theo thống kê của NASA thì loài người là động vật nhiều sừng nhất trên thế
                                                giới.<br>
                                                - Nếu bạn ngu mà biết mình ngu có nghĩa bạn người có trí tuệ nhưng ngay khi
                                                bạn có trí tuệ mà biết mình ngu thì đúng là bạn ngu rồi.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="height: 1px;background: #dadada" class="my-3"></div>
                        <div class="row">
                            <div class="col-lg-6 text-bold t-20">
                                Giá tiền (vnđ/giờ):
                            </div>
                            <div class="col-lg-6 text-right t-20 t-green">
                                80.000 vnđ/1h
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center my-4">
                    <button type="button" class="btn-task-done btn-primary btn px-5 py-3 text-uppercase">
                        <!--                        <span></span>-->
                        <!--                        <span></span>-->
                        <!--                        <span></span>-->
                        <!--                        <span>Hoàn thành công việc</span>-->
                        Hoàn thành công việc
                    </button>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="fragment/layout :: footer"></th:block>

    <!--MODAL-->
    <div class="modal fade bd-example-modal-lg" id="modal-review" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" >Nhận xét & đánh giá</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label text-bold">Nhận xét</label>
                            <textarea class="form-control" rows="4" placeholder="Đôi lời nhận xét về nhân viên của bạn..."></textarea>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label text-bold ">Đánh giá</label>
                            <div class="box-star my-2">
                                <span class="icon-star-o mx-1 starRating" data-index="0"></span>
                                <span class="icon-star-o mx-1 starRating" data-index="1"></span>
                                <span class="icon-star-o mx-1 starRating" data-index="2"></span>
                                <span class="icon-star-o mx-1 starRating" data-index="3"></span>
                                <span class="icon-star-o mx-1 starRating" data-index="4"></span>
                            </div>
                        </div>
                        <input type="hidden" id="valueStarRating">
                        <div class="form-group w-100 text-right mt-2">
                            <button class="btn btn-primary mx-2 w-25 text-uppercase">Gửi</button>
                            <a href="#" class="btn btn-warning w-25 text-white text-uppercase">Bỏ qua</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--END MODAL-->
</div>
<th:block th:include="fragment/layout :: javascript"></th:block>
<script th:src="@{~/js/task/room-tasker.js}"></script>
</body>
</html>
