<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.task.notify}">TaskUnite Notification</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p>
    Xin chào!
</p>
<p>
    Task mới đã được tạo với bạn, hãy vào dashboard của bạn để xem task:
</p>
<p>
    <a href="http://taskunite.works" target="_blank" />
</p>
<p>
    <span th:text="#{email.activation.text2}">Xin cảm ơn, </span>
    <br/>
    <em th:text="#{email.signature}">TaskUnite Team</em>
</p>
</body>
</html>
