<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="taskerCategory">
            <h2><span jhiTranslate="taskUniteApp.taskerCategory.detail.title">Tasker Category</span> {{taskerCategory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="taskUniteApp.taskerCategory.description">Description</span></dt>
                <dd>
                    <span>{{taskerCategory.description}}</span>
                </dd>
                <dt><span jhiTranslate="taskUniteApp.taskerCategory.price">Price</span></dt>
                <dd>
                    <span>{{taskerCategory.price}}</span>
                </dd>
                <dt><span jhiTranslate="taskUniteApp.taskerCategory.type">Type</span></dt>
                <dd>
                    <span>{{taskerCategory.type}}</span>
                </dd>
                <dt><span jhiTranslate="taskUniteApp.taskerCategory.createdAt">Created At</span></dt>
                <dd>
                    <span>{{taskerCategory.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="taskUniteApp.taskerCategory.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{taskerCategory.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="taskUniteApp.taskerCategory.deletedAt">Deleted At</span></dt>
                <dd>
                    <span>{{taskerCategory.deletedAt}}</span>
                </dd>
                <dt><span jhiTranslate="taskUniteApp.taskerCategory.taskCategory">Task Category</span></dt>
                <dd>
                    <div *ngIf="taskerCategory.taskCategoryId">
                        <a [routerLink]="['/task-category', taskerCategory.taskCategoryId, 'view']">{{taskerCategory.taskCategoryId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="taskUniteApp.taskerCategory.user">User</span></dt>
                <dd>
                    <div *ngIf="taskerCategory.userId">
                        <a [routerLink]="['/user-information', taskerCategory.userId, 'view']">{{taskerCategory.userId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tasker-category', taskerCategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
