<div>
    <h2 id="page-heading">
        <span jhiTranslate="taskUniteApp.taskerCategory.home.title">Tasker Categories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tasker-category" [routerLink]="['/tasker-category/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="taskUniteApp.taskerCategory.home.createLabel">
            Create a new Tasker Category
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="taskerCategories?.length === 0">
        <span jhiTranslate="taskUniteApp.taskerCategory.home.notFound">No taskerCategories found</span>
    </div>
    <div class="table-responsive" *ngIf="taskerCategories?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="description"><span jhiTranslate="taskUniteApp.taskerCategory.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="price"><span jhiTranslate="taskUniteApp.taskerCategory.price">Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="status"><span jhiTranslate="taskUniteApp.taskerCategory.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="taskUniteApp.taskerCategory.createdAt">Created At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updatedAt"><span jhiTranslate="taskUniteApp.taskerCategory.updatedAt">Updated At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="deletedAt"><span jhiTranslate="taskUniteApp.taskerCategory.deletedAt">Deleted At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="taskCategoryId"><span jhiTranslate="taskUniteApp.taskerCategory.taskCategory">Task Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="taskerId"><span jhiTranslate="taskUniteApp.taskerCategory.tasker">Tasker</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let taskerCategory of taskerCategories ;trackBy: trackId">
                <td><a [routerLink]="['/tasker-category', taskerCategory.id, 'view' ]">{{taskerCategory.id}}</a></td>
                <td>{{taskerCategory.description}}</td>
                <td>{{taskerCategory.price}}</td>
                <td>{{taskerCategory.status}}</td>
                <td>{{taskerCategory.createdAt | date:'medium'}}</td>
                <td>{{taskerCategory.updatedAt | date:'medium'}}</td>
                <td>{{taskerCategory.deletedAt | date:'medium'}}</td>
                <td>
                    <div *ngIf="taskerCategory.taskCategoryId">
                        <a [routerLink]="['/task-category', taskerCategory.taskCategoryId , 'view' ]" >{{taskerCategory.taskCategoryId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="taskerCategory.taskerId">
                        <a [routerLink]="['/tasker', taskerCategory.taskerId , 'view' ]" >{{taskerCategory.taskerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tasker-category', taskerCategory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tasker-category', taskerCategory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(taskerCategory)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="taskerCategories?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
