<div>
    <h2 id="page-heading">
        <span jhiTranslate="taskUniteApp.review.home.title">Reviews</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-review" [routerLink]="['/review/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="taskUniteApp.review.home.createLabel">
            Create a new Review
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="reviews?.length === 0">
        <span jhiTranslate="taskUniteApp.review.home.notFound">No reviews found</span>
    </div>
    <div class="table-responsive" *ngIf="reviews?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="content"><span jhiTranslate="taskUniteApp.review.content">Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="start"><span jhiTranslate="taskUniteApp.review.start">Start</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="taskUniteApp.review.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdAt"><span jhiTranslate="taskUniteApp.review.createdAt">Created At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedAt"><span jhiTranslate="taskUniteApp.review.updatedAt">Updated At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deletedAt"><span jhiTranslate="taskUniteApp.review.deletedAt">Deleted At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="taskId"><span jhiTranslate="taskUniteApp.review.task">Task</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userId"><span jhiTranslate="taskUniteApp.review.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let review of reviews ;trackBy: trackId">
                <td><a [routerLink]="['/review', review.id, 'view' ]">{{review.id}}</a></td>
                <td>{{review.content}}</td>
                <td>{{review.start}}</td>
                <td>{{review.status}}</td>
                <td>{{review.createdAt | date:'medium'}}</td>
                <td>{{review.updatedAt | date:'medium'}}</td>
                <td>{{review.deletedAt | date:'medium'}}</td>
                <td>
                    <div *ngIf="review.taskId">
                        <a [routerLink]="['/task', review.taskId , 'view' ]" >{{review.taskId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="review.userId">
                        <a [routerLink]="['/user-extend', review.userId , 'view' ]" >{{review.userId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/review', review.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/review', review.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/review', { outlets: { popup: review.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="reviews?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
