<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact</title>
    <th:block th:include="fragment/layout :: head"> </th:block>
</head>
<body>

<div class="site-wrap">

    <th:block th:include="fragment/layout :: site-mobile-memu"> </th:block>

    <th:block th:include="fragment/layout :: site-navbar"> </th:block>

    <div style="height: 113px;"></div>

    <div class="site-section bg-light">
        <div class="container">
            <div class="row">

                <div class="col-md-8 offset-md-2 mt-5">
                    <form th:action="@{/templates/account/register}" style="background: rgba(0,0,0,0.55)"
                          class="ftco-animate fadeInUp ftco-animated border p-4" method="post">
                        <h3 class="border-bottom pb-2 text-white">Register</h3>
                        <div class="form-group mt-1">
                            <label class="text-white">Username: </label>
                            <input type="text" class="form-control" placeholder="Username...">
                        </div>
                        <div class="form-group">
                            <label class="text-white">Password: </label>
                            <input type="password" class="form-control" placeholder="Password...">
                        </div>
                        <div class="form-group">
                            <label class="text-white">Confirm Password: </label>
                            <input type="password" class="form-control" placeholder="Confirm Password...">
                        </div>
                        <div class="form-group mt-1">
                            <label class="text-white">Email: </label>
                            <input type="text" class="form-control" placeholder="Email...">
                        </div>
                        <div class="form-group mt-1">
                            <div class="row">
                                <div class="col-6">
                                    <label class="text-white">First Name: </label>
                                    <input type="text" class="form-control" placeholder="First name...">
                                </div>
                                <div class="col-6">
                                    <label class="text-white">Last name: </label>
                                    <input type="text" class="form-control" placeholder="Last name...">
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center mt-5">
                            <button class="btn btn-success " style="padding: 5px 25px" type="submit">
                                REGISTER
                            </button>
                            <button class="btn btn-secondary " style="padding: 5px 25px" type="button">
                                RESET
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <th:block th:include="fragment/layout :: footer"> </th:block>
</div>
<th:block th:include="fragment/layout :: javascript"> </th:block>
</body>
</html>
