<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{home.title}">Tìm công việc, uy tín, nhanh với TaskUnite</title>
    <th:block th:replace="fragment/layout :: head"></th:block>
    <link rel="stylesheet" th:href="@{~/css/home/home.css}">
</head>
<body>

<div class="site-wrap">

    <th:block th:replace="fragment/layout :: site-mobile-memu"></th:block>


    <th:block th:replace="fragment/layout :: site-navbar"></th:block>

    <div style="height: 113px;"></div>

    <div class="site-blocks-cover overlay" th:style="'background-image: url(' + @{~/images/hero_1.jpg} + ');'"
         data-aos="fade" data-stellar-background-ratio="0.5">s
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 text-center" data-aos="fade">
                    <h1 class="mb-5">Không cần tự tay hoàn thành công việc</h1>
                    <a sec:authorize="isAuthenticated()" th:href="@{/task/create/step1}" class="bg-primary text-white py-4 px-4 rounded text-uppercase">
                        Đăng việc ngay
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                    <h2 class="mb-5" th:text="#{home.category}">Categories</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="100">
                    <a href="#" class="h-100 feature-item">
                        <span class="d-block icon flaticon-calculator mb-3 text-primary"></span>
                        <h2 class="slv-text-category">Giao hàng</h2>
                        <svg class="svg-box-category">
                            <rect></rect>
                        </svg>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="200">
                    <a href="#" class="h-100 feature-item">
                        <span class="d-block icon flaticon-wrench mb-3 text-primary"></span>
                        <h2 class="slv-text-category">Lắp ráp nội thất</h2>
                        <svg class="svg-box-category">
                            <rect></rect>
                        </svg>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="300">
                    <a href="#" class="h-100 feature-item">
                        <span class="d-block icon flaticon-worker mb-3 text-primary"></span>
                        <h2 class="slv-text-category">
                            Làm mộc
                        </h2>
                        <svg class="svg-box-category">
                            <rect></rect>
                        </svg>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="400">
                    <a href="#" class="h-100 feature-item">
                        <span class="d-block icon flaticon-telecommunications mb-3 text-primary"></span>
                        <h2 class="slv-text-category">Sửa chữa điện</h2>
                        <svg class="svg-box-category">
                            <rect></rect>
                        </svg>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="500">
                    <a href="#" class="h-100 feature-item">
                        <span class="d-block icon flaticon-stethoscope mb-3 text-primary"></span>
                        <h2 class="slv-text-category">Mang vác nặng</h2>
                        <svg class="svg-box-category">
                            <rect></rect>
                        </svg>
                    </a>

                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="600">
                    <a href="#" class="h-100 feature-item">
                        <span class="d-block icon flaticon-computer-graphic mb-3 text-primary"></span>
                        <h2 class="slv-text-category">Mua hàng hộ</h2>
                        <svg class="svg-box-category">
                            <rect></rect>
                        </svg>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="700">
                    <a href="#" class="h-100 feature-item">
                        <span class="d-block icon flaticon-trolley mb-3 text-primary"></span>
                        <h2 class="slv-text-category">Chuyển nhà</h2>
                        <svg class="svg-box-category">
                            <rect></rect>
                        </svg>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="800">
                    <a href="#" class="h-100 feature-item">
                        <span class="d-block icon flaticon-restaurant mb-3 text-primary"></span>
                        <h2 class="slv-text-category">Quét dọn</h2>
                        <svg class="svg-box-category">
                            <rect></rect>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="site-section bg-light">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-md-12 mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">-->
<!--                    <h2 class="mb-5 h3" th:text="#{home.recent-job}">Công Việc Mới</h2>-->
<!--                    <div class="rounded border jobs-wrap">-->
<!--                        <a href="job-single.html"-->
<!--                           class="job-item d-block d-md-flex align-items-center  border-bottom fulltime">-->
<!--                            <div class="company-logo blank-logo text-center text-md-left pl-3">-->
<!--                                <img th:src="@{~/images/company_logo_blank.png}" alt="Avatar master"-->
<!--                                     class="img-fluid mx-auto">-->
<!--                            </div>-->
<!--                            <div class="job-details h-100">-->
<!--                                <div class="p-3 align-self-center">-->
<!--                                    <h3>Chuyển nhà sinh viên</h3>-->
<!--                                    <div class="d-block d-lg-flex">-->
<!--                                        <div class="mr-3">-->
<!--                                            <span class="icon-user mr-1 text-purple"></span> Ng. Công-->
<!--                                        </div>-->
<!--                                        <div class="mr-3">-->
<!--                                            <span class="icon-room mr-1 text-pink"></span>-->
<!--                                            Phúc Diễn, Từ Liêm, Hà Nội-->
<!--                                        </div>-->
<!--                                        <div class="job-des-preview"-->
<!--                                             th:title="'Công việc nhẹ nhàng! Lương ko phải nghĩ!'">-->
<!--                                            <span class="icon-file-text mr-1 text-secondary"></span>-->
<!--                                            Dọn đồ, chuyển đồ đến nơi mới Xuân Thuỷ, Cầu Giấy.-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="job-category align-self-center">-->
<!--                                <div class="p-3">-->
<!--                                    <span class="text-info p-2 pl-4 pr-4 rounded border border-info">Apply</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                        <a href="job-single.html"-->
<!--                           class="job-item d-block d-md-flex align-items-center  border-bottom fulltime">-->
<!--                            <div class="company-logo blank-logo text-center text-md-left pl-3">-->
<!--                                <img th:src="@{~/images/company_logo_blank.png}" alt="Avatar master"-->
<!--                                     class="img-fluid mx-auto">-->
<!--                            </div>-->
<!--                            <div class="job-details h-100">-->
<!--                                <div class="p-3 align-self-center">-->
<!--                                    <h3>Chuyển văn thư</h3>-->
<!--                                    <div class="d-block d-lg-flex">-->
<!--                                        <div class="mr-3">-->
<!--                                            <span class="icon-user mr-1 text-purple"></span> Ms. Thu-->
<!--                                        </div>-->
<!--                                        <div class="mr-3">-->
<!--                                            <span class="icon-room mr-1 text-pink"></span>-->
<!--                                            Hoàn Kiếm, Hà Nội.-->
<!--                                        </div>-->
<!--                                        <div class="job-des-preview"-->
<!--                                             th:title="'Công việc nhẹ nhàng! Lương ko phải nghĩ!'">-->
<!--                                            <span class="icon-file-text mr-1 text-secondary"></span>-->
<!--                                            Chuyển 2 thư qua Hai Bà Trưng, Hà Nội.-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="job-category align-self-center">-->
<!--                                <div class="p-3">-->
<!--                                    <span class="text-info p-2 pl-4 pr-4 rounded border border-info">Apply</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                        <a href="job-single.html"-->
<!--                           class="job-item d-block d-md-flex align-items-center  border-bottom fulltime">-->
<!--                            <div class="company-logo blank-logo text-center text-md-left pl-3">-->
<!--                                <img th:src="@{~/images/company_logo_blank.png}" alt="Avatar master"-->
<!--                                     class="img-fluid mx-auto">-->
<!--                            </div>-->
<!--                            <div class="job-details h-100">-->
<!--                                <div class="p-3 align-self-center">-->
<!--                                    <h3>Dọn nhà Riêng</h3>-->
<!--                                    <div class="d-block d-lg-flex">-->
<!--                                        <div class="mr-3">-->
<!--                                            <span class="icon-user mr-1 text-purple"></span> Mr. Cương-->
<!--                                        </div>-->
<!--                                        <div class="mr-3">-->
<!--                                            <span class="icon-room mr-1 text-pink"></span>-->
<!--                                            Ba Đình, Hà Nội-->
<!--                                        </div>-->
<!--                                        <div class="job-des-preview"-->
<!--                                             th:title="'Công việc nhẹ nhàng! Lương ko phải nghĩ!'">-->
<!--                                            <span class="icon-file-text mr-1 text-secondary"></span>-->
<!--                                            Dọn dẹp lau sàn nhà 3 tầng, lau của kính 4 phòng.-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="job-category align-self-center">-->
<!--                                <div class="p-3">-->
<!--                                    <span class="text-info p-2 pl-4 pr-4 rounded border border-info">Apply</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="col-md-12 text-center mt-5">-->
<!--                        <a href="#" class="btn-svg-UI btn-reset-css fill-green">-->
<!--                            <svg>-->
<!--                                <rect></rect>-->
<!--                            </svg>-->
<!--                            <span>-->
<!--                                <span class="icon-plus-circle"></span> <span  th:text="#{home.show-more}"></span>-->
<!--                            </span>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="site-section bg-light" data-aos="fade">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 mb-5 mb-md-0">

                    <div class="img-border">
                        <a href="https://vimeo.com/28959265" class="popup-vimeo image-play">
                  <span class="icon-wrap">
                    <span class="icon icon-play"></span>
                  </span>
                            <img th:src="@{~/images/hero_2.jpg}" alt="Image" class="img-fluid rounded">
                        </a>
                    </div>

                </div>
                <div class="col-md-5 ml-auto">
                    <div class="text-left mb-5 section-heading">
                        <h2>Đánh giá dịch vụ</h2>
                    </div>
                    <p class="mb-4 h5 font-italic lineheight1-5">&ldquo;Từ khi bắt đầu sử dụng TaskUnite, tôi không cần giành cả cuối tuần để dọn dẹp nhà cửa và mua sắm thực phẩm cho cả tuần nữa.
                     Tôi đã có thêm thời gian để chăm sóc bản thân và gia đình của tôi. Cảm ơn TaskUnite rất nhiều !&rdquo;</p>
                    <p>&mdash; <strong class="text-black font-weight-bold">Đào Xuân Hùng</strong>, Chuyên gia công nghệ</p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-blocks-cover overlay inner-page" style="background-image: url('/images/hero_1.jpg');"
         data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-6 text-center" data-aos="fade">
                    <h4 class="mb-5 text-white">Hãy cống hiến bằng những việc đơn giản</h4>
                    <a href="#" class="bg-warning text-white py-3 px-4 rounded text-uppercase">
                        Trở thành Tasker
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section site-block-feature">
        <div class="container">

            <div class="text-center mb-5 section-heading">
                <h2>Tại sao bạn nên chọn TaskUnite</h2>
            </div>

            <div class="border-bottom">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div class="text-center p-4 item border-right" data-aos="fade">
                            <span class="flaticon-worker display-3 mb-3 d-block text-primary"></span>
                            <h2 class="h4">Mạng lưới Tasker lớn</h2>
                            <p>TaskUnite có lượng nhân sự lớn, được phân bổ đều trên các Quận Huyện Thành Phố Hà Nội.</p>
                            <p><a href="#">Read More <span class="icon-arrow-right small"></span></a></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center p-4 item" data-aos="fade">
                            <span class="flaticon-wrench display-3 mb-3 d-block text-primary"></span>
                            <h2 class="h4">Đa dạng công việc</h2>
                            <p>TaskUnite cung cấp các dịch vụ như Sửa chữa , lắp đặt, dọn dẹp..., các công việc gần gũi nhất với cuộc sống.</p>
                            <p><a href="#">Read More <span class="icon-arrow-right small"></span></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="text-center p-4 item border-right" data-aos="fade">
                        <span class="flaticon-stethoscope display-3 mb-3 d-block text-primary"></span>
                        <h2 class="h4">Bảo hiểm đầy đủ</h2>
                        <p>Bạn giao việc không cần phải lo lắng về chất lượng dịch vụ cũng như giá cả .</p>
                        <p><a href="#">Read More <span class="icon-arrow-right small"></span></a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center p-4 item" data-aos="fade">
                        <span class="flaticon-calculator display-3 mb-3 d-block text-primary"></span>
                        <h2 class="h4">Thu nhập cao</h2>
                        <p>Tasker được tiếp cận nguồn công việc, tối ưu được thời gian làm việc tăng thu nhập cao.</p>
                        <p><a href="#">Read More <span class="icon-arrow-right small"></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section block-15 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                    <h2>Thực tiễn</h2>
                </div>
            </div>
            <div class="nonloop-block-15 owl-carousel">
                <div class="media-with-text">
                    <div class="img-border-sm mb-4">
                        <a href="#" class="image-play">
                            <img th:src="@{~/images/img_1.jpg}" alt="" class="img-fluid">
                        </a>
                    </div>
                    <h2 class="heading mb-0 h5"><a href="#">Dọn dẹp nhà cửa thật đơn giản</a></h2>
                    <span class="mb-3 d-block post-date">January 24, 2020 &bullet; By <a href="#">Alesson Backer</a></span>
                    <p>Dọn dẹp nhà cửa thật sự rất vất vả và tốn thời gian. Nhờ sự trợ giúp của các Tasker, tôi đã có thêm thời gian cho những sở thích cá nhân</p>
                </div>
                <div class="media-with-text">
                    <div class="img-border-sm mb-4">
                        <a href="#" class="image-play">
                            <img th:src="@{~/images/img_2.jpg}" alt="" class="img-fluid">
                        </a>
                    </div>
                    <h2 class="heading mb-0 h5"><a href="#">Sửa TV trong vòng vài nốt nhạc</a></h2>
                    <span class="mb-3 d-block post-date">December 10th, 2019 &bullet; By <a href="#">Marcus Rojoo</a></span>
                    <p>Tôi đang xem đội tuyển Việt Nam đá thì TV bị hỏng. Rất may có một Tasker đã sửa được TV và tôi không bỏ lỡ bàn thắng nào. Cảm ơn TaskUnite</p>
                </div>
                <div class="media-with-text">
                    <div class="img-border-sm mb-4">
                        <a href="#" class="image-play">
                            <img th:src="@{~/images/img_3.jpg}" alt="" class="img-fluid">
                        </a>
                    </div>
                    <h2 class="heading mb-0 h5"><a href="#">Mua sắm thật tiện lợi</a></h2>
                    <span class="mb-3 d-block post-date">December 2nd, 2019 &bullet; By <a href="#">Lional Messie</a></span>
                    <p>
                        Tôi thường làm việc từ sáng đến tối nên không có nhiều thời gian để đi mua sắm. Nhờ có các
                        Tasker đáng tin cậy,
                        gia đình tôi luôn có đủ thực phẩm và hàng hóa để sinh hoạt. Yêu TaskUnite !!!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragment/layout :: footer"></th:block>
</div>
<th:block th:replace="fragment/layout :: javascript"> </th:block>
<script th:src="@{~/js/index/index.js}"></script>
</body>
</html>
